﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <el-form :label-position="labelPosition" label-width="80px" :model="searchForm">
                <el-row :gutter="20">
                    <el-col :span="4">
                        <el-form-item label="功能編號">
                            <el-input v-model="searchForm.id"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="功能名稱">
                            <el-input v-model="searchForm.name"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="6">
                        <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                    </el-col>
                </el-row>
            </el-form>
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="value" placeholder="選擇顯示筆數" @@change="onSelectPage(); ">
                        <el-option v-for="item in options"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="2" class="my-auto w-auto">
                    <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                    <el-button type="primary" round plain size="small">列印</el-button>
                </el-col>
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-dialog title="新增系統功能" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :rules="rules" ref="form" size="mini">
                    <el-form-item label="功能編號" prop="FUNC_ID">
                        <el-input v-model="form.FUNC_ID" :disabled="IDdisabled"></el-input>
                    </el-form-item>
                    <el-form-item label="功能名稱" prop="FUNC_DESC">
                        <el-input v-model="form.FUNC_DESC"></el-input>
                    </el-form-item>
                    <el-form-item label="上層編號" prop="PARENT_ID">
                        <el-input v-model="form.PARENT_ID"></el-input>
                    </el-form-item>
                    <el-form-item label="功能類別" prop="FUNC_TYPE">
                        <el-input v-model="form.FUNC_TYPE"></el-input>
                    </el-form-item>
                    <el-form-item label="頁面URL" prop="URL_ADDR">
                        <el-input v-model="form.URL_ADDR"></el-input>
                    </el-form-item>
                    <el-form-item label="備註" prop="REMARKS">
                        <el-input v-model="form.REMARKS"></el-input>
                    </el-form-item>
                    <el-form-item label="可否執行" prop="SET_RUN">
                        <el-radio-group v-model="form.SET_RUN">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="可否查詢" prop="SET_SEARCH">
                        <el-radio-group v-model="form.SET_SEARCH">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="可否新增" prop="SET_ADD">
                        <el-radio-group v-model="form.SET_ADD">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="可否修改" prop="SET_MODIFY">
                        <el-radio-group v-model="form.SET_MODIFY">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="可否刪除" prop="SET_DEL">
                        <el-radio-group v-model="form.SET_DEL">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="可否列印" prop="SET_PRINT">
                        <el-radio-group v-model="form.SET_PRINT">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData; //儲存表單內容
            var vm = new Vue({
                el: '#app',
                data: {
                    labelPosition: 'top',
                    searchForm: {
                        id: '',
                        name: ''
                    },
                    form: {
                        FUNC_ID: '',
                        FUNC_DESC: '',
                        PARENT_ID: '',
                        FUNC_TYPE: '',
                        URL_ADDR: '',
                        REMARKS: '',
                        SET_RUN: '',
                        SET_SEARCH: '',
                        SET_ADD: '',
                        SET_MODIFY: '',
                        SET_DEL: '',
                        SET_PRINT:''
                    },
                    rules: {
                        FUNC_ID: [
                            { required: true, message: '請輸入功能編號', trigger: 'blur' }
                        ],
                        FUNC_DESC: [
                            { required: true, message: '請輸入功能名稱', trigger: 'blur' }
                        ],
                        PARENT_ID: [
                            { required: true, message: '請輸入上層編號', trigger:'blur'}
                        ],
                        FUNC_TYPE: [
                            { required: true, message: '請輸入功能類別', trigger: 'blur' }
                        ]
                    },
                    options: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                    }],
                    value: '',
                    IDdisabled: false,
                    addOrEdit:'',
                    dialogFormVisible: false,
                    curPage: 1
                },
                methods: {
                    onSearch() {
                        table.setData("@Url.Action("GetTableData")?FUNC_ID=" + vm.searchForm.id + "&FUNC_DESC=" + vm.searchForm.name);
                    },
                    onAddClick(formName) {
                        this.IDdisabled = false;
                        this.addOrEdit = 'add';
                        this.dialogFormVisible = true;
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                this.curPage = table.getPage();
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")', this.form)
                                    .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('新增失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('新增成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                } else {
                                    axios.post('@Url.Action("Edit")', this.form)
                                        .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('修改失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('修改成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    onSelectPage() {
                        table.setPageSize(this.value);
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    },
                    LoadTableData() {
                        table.setData("@Url.Action("GetTableData")?FUNC_ID=" + vm.searchForm.id + "&FUNC_DESC=" + vm.searchForm.name);
                    }
                }
            });
            //定義表格裡圖案
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };

            var editClick = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                formData.SET_RUN == "True" ? formData.SET_RUN = "Y" : formData.SET_RUN = "N";
                formData.SET_SEARCH == "True" ? formData.SET_SEARCH = "Y" : formData.SET_SEARCH = "N";
                formData.SET_ADD == "True" ? formData.SET_ADD = "Y" : formData.SET_ADD = "N";
                formData.SET_MODIFY == "True" ? formData.SET_MODIFY = "Y" : formData.SET_MODIFY = "N";
                formData.SET_DEL == "True" ? formData.SET_DEL = "Y" : formData.SET_DEL = "N";
                formData.SET_PRINT == "True" ? formData.SET_PRINT = "Y" : formData.SET_PRINT = "N";

                vm.addOrEdit = 'edit';
                vm.IDdisabled = true;
                vm.dialogFormVisible = true;
                //確實開啟dialog之後才把資料放上去->onBindData
            }

            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "FUNC_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次",formatter: "rownum", hozAlign: "center" },
                    { title: "功能編號", field: "FUNC_ID", hozAlign: "center" },
                    { title: "功能名稱", field: "FUNC_DESC", hozAlign: "center" },
                    { title: "功能URL", field: "URL_ADDR", hozAlign: "center"},
                    { title: "執行", field: "SET_RUN",hozAlign: "center", formatter: "tickCross", sorter: "boolean"},
                    { title: "查詢", field: "SET_SEARCH", hozAlign: "center", formatter: "tickCross", sorter: "boolean" },
                    { title: "新增", field: "SET_ADD", hozAlign: "center", formatter: "tickCross", sorter: "boolean" },
                    { title: "修改", field: "SET_MODIFY", hozAlign: "center", formatter: "tickCross", sorter: "boolean" },
                    { title: "刪除", field: "SET_DEL", hozAlign: "center", formatter: "tickCross", sorter: "boolean" },
                    { title: "列印", field: "SET_PRINT", hozAlign: "center", formatter: "tickCross", sorter: "boolean" },
                    { title: "編輯", formatter: editIcon, hozAlign: "center", cellClick: editClick }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
            table.on("pageLoaded", function (pageNo) {
                vm.curPage = pageNo;
            });
            table.on("dataProcessed", function () {
                table.setPage(vm.curPage);
            });
        });
    </script>
</body>
</html>
