﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .header, .header-row{
        margin-bottom:10px;
    }
    .menu-right, .Fill-box {
        border: 1px;
        border-style: solid;
    }
    .customerCode{
        width:200px;
    }
    
    
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>

<body style="background-color: #f4f6fc !important;">
    <div class="container-fluid">
        <h2 class="header ">建立退貨</h2>
        <div class="row header-row ">
            <div class="btn-group mb-4 mr-4 d-block">
                <button type="button" class="btn btn-danger dropdown-toggle customerCode" data-bs-toggle="dropdown" aria-expanded="false">
                    客戶代號
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">客戶代號</a></li>
                </ul>
            </div>
            <div class=" " style="display:block">
                <button type="submit" class="btn btn-outline-primary btn-lg mr-4">單筆新增</button>
                <button type="submit" class="btn btn-outline-primary btn-lg mr-4">整批匯入</button>
                <button type="submit" class="btn btn-outline-primary btn-lg mr-4">編輯</button>
                <button type="submit" class="btn btn-outline-primary btn-lg mr-4">刪除</button>
                <button type="submit" class="btn btn-outline-primary btn-lg mr-4">通知司機取件</button>
            </div>
        </div>
    </div>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-9 Fill-box pt-4 pb-4">
                <div>
                    <input class="form-control mb-3" type="text" placeholder="正物流單號" aria-label="default input example">
                    <button type="button" class="btn btn-outline-primary mb-3">查詢</button>
                    <input class="form-control mb-3" type="text" placeholder="客戶代號" aria-label="default input example">
                    <input class="form-control mb-3" type="text" placeholder="寄件人" aria-label="default input example">
                    <input class="form-control mb-3" type="text" placeholder="電話" aria-label="default input example">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle mb-3" data-bs-toggle="dropdown" aria-expanded="false">
                            縣市
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">縣市</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle mb-3" data-bs-toggle="dropdown" aria-expanded="false">
                            鄉鎮市區
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">鄉鎮市區</a></li>
                        </ul>
                    </div>
                    <input class="form-control mb-3" type="text" placeholder="路段號碼" aria-label="default input example">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle mb-3" data-bs-toggle="dropdown" aria-expanded="false">
                            取貨站所
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">取貨站所</a></li>
                        </ul>
                    </div>
                    <input class="form-control mb-3" type="text" placeholder="收件人" aria-label="default input example">
                    <input class="form-control mb-3" type="text" placeholder="電話" aria-label="default input example">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle mb-3" data-bs-toggle="dropdown" aria-expanded="false">
                            縣市
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">縣市</a></li>

                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle mb-3" data-bs-toggle="dropdown" aria-expanded="false">
                            鄉鎮市區
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">鄉鎮市區</a></li>
                        </ul>
                    </div>
                    <input class="form-control mb-3" type="text" placeholder="路段號碼" aria-label="default input example">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle mb-3" data-bs-toggle="dropdown" aria-expanded="false">
                            配送站所
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"> 配送站所</a></li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">備註</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-primary btn-lg mr-4">確認</button>
                    <button type="button" class="btn btn-outline-primary btn-lg mr-4">取消</button>
                </div>
            </div>
            <div class="col-3 menu-right">
                <h2>已成立退貨單</h2>



            </div>
        </div>
       
    </div>

</body>
</html>
