﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.Login_Index_001</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="mainWrap">
        <div id="language">
            <button id="btn-changeLan" class="btn btn-dark">@ViewBag.LangStr</button>
            <div id="registerWrap">
                <h1>@Resources.Resource.Login_Index_002</h1>
                <input type="text" id="user" class="registInfo" placeholder="User">
                <input type="password" id="password" class="registInfo" placeholder="Password">
                <div class="captcha_wrap">
                    <input type="text" id="captcha" class="registInfo" placeholder="Captcha">
                    <div class="number">
                        <svg width="86px" height="44px" viewBox="0 0 86 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>icon_number</title>
                            <g id="icon_number" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect id="Rectangle-3" stroke="#C6C8CD" x="0.5" y="0.5" width="85" height="43" rx="5"></rect>
                                <text id="228C" font-family="CaviarDreams-Bold, Caviar Dreams" font-size="20" font-weight="bold" fill="#675C5C">
                                    <tspan id="validate" x="16" y="29">@ViewBag.ValidateCode</tspan>
                                </text>
                            </g>
                        </svg>
                    </div>
                    <a href="#">
                        <img id="btn-refresh" class="refresh" src="~/Content/images/icon_refresh.svg" />
                    </a>
                </div>
                <button id="btn-login" class="login">@Resources.Resource.Login_Index_003</button>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
<script>
        $(function () {
            $("#btn-login").click(function () {
                if ($("#user").val() != "" && $("#password").val() != "") {
                    if ($("#captcha").val() != $("#validate").text()) {
                        alert("@Resources.Resource.Login_Index_004");
                    } else {
                        $.post({
                            url: "@Url.Action("Login")",
                            data: { USER_ID: $("#user").val(), USER_PWD: $("#password").val() }
                        }).done(function (result) {
                            if (result.USER_ID == "400") {
                                alert("@Resources.Resource.Login_Index_005");
                            } else if (result == "") {
                                alert("@Resources.Resource.Login_Index_006")
                            } else {
                                window.location.href = "@Url.Action("Index","Home")";
                            }
                        });
                    }
                } else {
                    alert("@Resources.Resource.Login_Index_007");
                }
            });

            $("#btn-refresh").click(function () {
                $.get({
                    url: "@Url.Action("GetValidateCode")"
                }).done(function (result) {
                    $("#validate").text(result);
                });
            });

            $("#btn-changeLan").click(function () {
                window.location.href = "@Url.Action("ChangeLang")";
            });
        });
</script>
</body>
</html>
