﻿@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto|Cabin|Lato:200,300,400,700");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html,
body {
    background-color: #fff !important;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

html {
    font-size: 62.5%
}

body {
    height: 100%;
    /* for 螢幕自適性高度 */
    width: 100%;
    /* for 螢幕自適性高度 */
    position: relative;
    font-size: 100%;
    margin: 0;
    background-color: #fff;
    display: block;
    font-family: Microsoft JhengHei,-apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif
}



input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/*html,body { height: 100%;    overflow:hidden;}*/


/* ============================= main layout ====================== */
a {
    font-size: 12px;
    color: #334750
}

    a:visited {
        color: #334750;
        text-decoration: none
    }

    a:link {
        color: #334750;
        text-decoration: none
    }

    a:hover {
        color: red;
        text-decoration: none
    }

p {
    line-height: 22px;
    padding-bottom: 15px;
    word-spacing: 0.1em;
}


#register_form {
    height: 100%;
}

.col {
    width: 100%;
    max-resolution: res;
    n: 0 auto;
    display: block;
}





/* ============================= header ====================== */
header {
    height: 85px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

    header .title {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 5px;
        margin-top: 20px;
    }

.info_wrap {
    display: inline-flex;
    height: auto;
    width: auto;
    margin-top: 12px;
}

.info_item {
    width: auto;
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 1px;
    border-left: 1px rgba(100%,100%,100%,0.2) solid;
    padding: 0 15px 0 15px;
    margin-top: 8px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}

    .info_item span {
        display: block;
        text-align: left;
        margin-left:10px
    }

header .btn_logout {
    width: 100px;
    height: 32px;
    color: rgba(100%,100%,100%,0.8);
    font-size: 13px;
    padding-left: 20px;
    background: #7d7979 url('images/icon_logout.svg') no-repeat 10px;
    border-radius: 8px;
    -webkit-align-self: center;
    align-self: center;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}


    header .btn_logout:hover {
        background: #000 url('images/icon_logout.svg') no-repeat 10px;
        color: #fff;
        -webkit-transition: all linear 300ms;
        -moz-transition: all linear 300ms;
        -o-transition: all linear 300ms;
        -ms-transition: all linear 300ms;
        transition: all linear 300ms;
    }


/* ============================= navgation ====================== */
nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2fabe2+0,2d3086+100 */
    background: #2fabe2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2fabe2 0%, #2d3086 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2fabe2 0%,#2d3086 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2fabe2 0%,#2d3086 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fabe2', endColorstr='#2d3086',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 35px;
    width: 100%;
}

.nevgationWrap {
    width: 80%;
    float: right;
}

#menu {
    padding-top: 6px;
    list-style: none;
    margin: 0 auto;
}


    #menu li {
        float: left;
        position: relative;
    }



    #menu a {
        float: left;
        height: 40px;
        padding: 0 30px;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600px;
        text-decoration: none;
    }

    #menu > li:hover > a {
        color: #fafafa;
        background: rgba(100%,100%,100%,0.1);
        border-radius: 20px;
        height: 28px;
        -webkit-transition: all linear 200ms;
        -moz-transition: all linear 200ms;
        -o-transition: all linear 200ms;
        -ms-transition: all linear 200ms;
        transition: all linear 200ms;
    }

    *html #menu li a:hover {
        /* IE6 */
        color: #fafafa;
        border-bottom: #FF481A;
        border-style: solid;
    }

    #menu li:hover > ul {
        display: block;
    }

    /* Sub-menu */
    #menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        top: 28px;
        left: 0;
        z-index: 99999;
        background-color: #666;
        background-image: linear-gradient(#666, #000);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

        #menu ul li {
            float: none;
            margin: 0;
            padding: 0;
            display: block;
            box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
            width: 150px;
        }

            #menu ul li:last-child {
                box-shadow: none;
            }

        #menu ul a {
            font-size: 14px;
            padding: 10px 20px;
            height: auto;
            line-height: 1;
            display: block;
            white-space: nowrap;
            float: none;
            text-transform: none;
        }

        *html #menu ul a {
            /* IE6 */
            height: 10px;
            width: 150px;
        }

        *:first-child + html #menu ul a {
            /* IE7 */
            height: 10px;
            width: 150px;
        }

            #menu ul a:hover {
                background: rgba(100%,100%,100%,0.2);
            }


        #menu ul li:first-child a:hover:after {
            border-bottom-color: #FF481A;
        }

        #menu ul li:last-child a {
            border-radius: 0 0 5px 5px;
        }

    /* Clear floated elements */
    #menu:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

* html #menu {
    zoom: 1;
}

/* IE6 */
*:first-child + html #menu {
    zoom: 1;
}

/* IE7 */




/* ============================= main content ====================== */

#mainWrap {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(images/bg.png) no-repeat;
    /* for image自適性高度 */
    background-size: cover;
    background-position: 60%;
    margin: 0;
}


/* ============== language ============ */

#language {
    width: 120px;
    color: #222222;
    font-size: 13px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    -webkit-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -o-transition: all linear 300ms;
    -ms-transition: all linear 300ms;
    transition: all linear 300ms;
}

    #language > button, #language > button:hover {
        background: #fff url('images/icon_earth.svg') no-repeat 15px;
        border: 1px #979797 solid;
        border-radius: 20px;
        padding: 5px 20px 5px 40px;
        cursor: pointer;
    }

        #language > button:hover {
            -webkit-box-shadow: 0 0 5px #BCBCBC;
            -moz-box-shadow: 0 0 5px #BCBCBC;
            box-shadow: 0 0 5px #BCBCBC;
            -webkit-transition: all linear 200ms;
            -moz-transition: all linear 200ms;
            -o-transition: all linear 200ms;
            -ms-transition: all linear 200ms;
            transition: all linear 200ms;
        }

    #language .btn-dark {
        width: 100%;
        color: #000;
    }

    #language .dropdown {
        display: none;
    }

    #language.active .dropdown {
        display: block;
        width: 100px;
        margin-left: 10px;
    }

        #language.active .dropdown a {
            display: block;
            text-align: center;
            line-height: 30px;
            color: black;
            background: #EFF4F6;
            border-bottom: 1px #E4E4E4 solid;
            -webkit-transition: all linear 300ms;
            -moz-transition: all linear 300ms;
            -o-transition: all linear 300ms;
            -ms-transition: all linear 300ms;
            transition: all linear 300ms;
        }


            #language.active .dropdown a:hover {
                color: #0260AF;
                background: #E2E8EB;
            }

            #language.active .dropdown a:last-child:hover {
            }


/* ============== register info ============ */

#registerWrap {
    position: absolute;
    width: 300px;
    top: 12%;
    left: 7%;
}
    #registerWrap h1 {
        color: #333333;
        font-size: 32px;
        font-weight: 600;
        white-space: nowrap; /* 不斷行*/
        padding-left: 110px;
        background: url('images/logo_ESE.svg') no-repeat;
        background-size: 110px;
        margin-bottom:20px;
    }

h1 {
    color: #333333;
    font-size: 32px;
    font-weight: 600;
    white-space: nowrap; /* 不斷行*/
    padding-left: 110px;
    background: url('images/logo_ESE.svg') no-repeat;
    background-size: 110px;
}



/* end  */

input.registInfo {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 60px;
    background: #eef0f5 url('images/input_sprite.svg') no-repeat;
    color: #000;
    letter-spacing: 1px;
}



input#company {
    background-position: 10px 2px, 0px 0px;
}

input#user {
    background-position: 10px -50px, 0px 0px;
}

input#password {
    background-position: 10px -107px, 0px 0px;
}

input#captcha {
    background-position: 10px -162px, 0px 0px;
    margin-right: 10px;
}

.captcha_wrap {
    display: inline-flex;
    vertical-align: baseline;
    width: 360px;
}


    .captcha_wrap img.number {
        width: 86px;
        height: 40px;
        margin-top:;
    }

    .captcha_wrap a {
        margin-left: 7px;
        margin-bottom: 10px;
    }

    .captcha_wrap img.refresh {
        width: 32px;
        height: 32px;
        margin-top: 5px;
    }


#registerWrap > button {
    width: 360px;
    height: 44px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #54565E;
    border-radius: 8px;
    -webkit-align-self: center;
    align-self: center;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
}


    #registerWrap > button:hover {
        background-color: #42444A;
        color: white;
        -webkit-transition: all linear 300ms;
        -moz-transition: all linear 300ms;
        -o-transition: all linear 300ms;
        -ms-transition: all linear 300ms;
        transition: all linear 300ms;
    }



/* ==========  footer  ======================= */


#footer {
    position: absolute;
    bottom: 20px;
    left: 7%;
    width: 80%;
    height: 60px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    display: inline-flex;
}

    #footer .logo {
        width: 228px;
        height: 57px;
        margin-right: 30px;
    }


    #footer .info {
        height: 57px;
    }

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.container-tab {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.tabulator {
    background-color: rgb(255 255 255 / 0%);
}
    .tabulator .tabulator-header {
        background-color: rgb(255 255 255 / 0%);
        border-bottom: 1px solid #9996;
        color: #5559;
    }
        .tabulator .tabulator-header .tabulator-col {
            background: rgb(255 255 255 / 0%);
            border-right:hidden;
        }
            .tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
                padding-right:0px;
                text-align:center;
            }

    .tabulator .tabulator-footer {
        border-top: hidden;
        text-align: center;
        background-color: rgb(255 255 255 / 0%);
    }
.tabulator-row.tabulator-row-even {
    background-color: #f4f6fc;
}
.tabulator-row .tabulator-cell {
    border-right: hidden;
}