﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .tabulator-col-title {
        text-align: center
    }
    .SearchButton{
        margin-top:1rem;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>

</head>

<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <el-form ref="searchForm" :label-position="labelPosition" label-width="auto" :model="searchForm">
                <el-row :gutter="20">
                    <el-col :span="4">
                        <el-form-item label="開始日期">
                            <el-date-picker v-model="searchForm.startdate"
                                            type="date"
                                            placeholder="選擇日期">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="結束日期">
                            <el-date-picker v-model="searchForm.enddate"
                                            type="date"
                                            placeholder="選擇日期">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="訂單編號">
                            <el-input v-model="searchForm.OrderId"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="託運單號">
                            <el-input v-model="searchForm.DeliveryId"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="訂單類型">
                            <el-select v-model="searchForm.DeliveryMethod" placeholder="請選擇">
                                <el-option label="全部" value="%"></el-option>
                                <el-option label="正物流" value="1"></el-option>
                                <el-option label="逆物流" value="2"></el-option>
                                <el-option label="來回件" value="3"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="訂單狀態">
                            <el-select v-model="searchForm.Status" placeholder="請選擇">
                                <el-option label="全部" value="%"></el-option>
                                <el-option label="成功" value="S"></el-option>
                                <el-option label="失敗" value="F"></el-option>
                                <el-option label="處理中" value="P"></el-option>
                                <el-option label="等待中" value="W"></el-option>
                                <el-option label="取消" value="C"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-row type="flex" justify="start" class="SearchButton">
                <el-col :span="4">
                    <el-button style="width: 100%" type="primary" @@click="onSearch">查詢</el-button>
                </el-col>
            </el-row>
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                        <el-option v-for="item in pageOptions"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="2" class="my-auto w-auto">
                    <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增託運單</el-button>
                    <el-button type="primary" id="download-xlsx" round plain size="small">訂單列印</el-button>
                  
                </el-col>
                
               
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-dialog :title="dialogTitle" top="1vh" :visible.sync="dialogFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :label-position="labelPosition" label-width="auto" ref="form" size="mini">
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="託運單號" prop="DeliveryId">
                                <el-input v-model="form.DeliveryId" :disabled="IDdisabled"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="訂單號碼" prop="OrderId">
                                <el-input v-model="form.OrderId" :disabled="IDdisabled"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="訂單建立日期" prop=" CreateDate">
                                <el-input v-model="form. CreateDate" :disabled="IDdisabled"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="寄件人" prop="SendContact">
                                <el-input v-model="form.SendContact"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="收件人" prop="ReceiveContact">
                                <el-input v-model="form.ReceiveContact"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="收件人地址" prop="ReceiveAddress">
                                <el-input v-model="form.ReceiveAddress"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="數量" prop="Quantity">
                                <el-input v-model="form.Quantity"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="代收貨款" prop="CollectionMoney">
                                <el-input v-model="form.CollectionMoney"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="配送日" prop="Arriveassigndate">
                                <el-input v-model="form.Arriveassigndate"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="訂單狀態" prop="Status">
                                <el-input v-model="form.Status" :disabled="IDdisabled"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>                  
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData;
            var vm = new Vue({
                el: '#app',
                data: {
                    searchForm: {
                        OrderId: '',
                        DeliveryMethod: '',
                        Status:'',
                        startdate: '',
                        enddate: '',
                        DeliveryId: '',
                    },
                    form: {
                        DeliveryId: '',
                        OrderId: '',
                        CreateDate: '',
                        SendContact: '',
                        ReceiveContact: '',
                        ReceiveAddress: '',
                        Quantity: '',
                        CollectionMoney: '',
                        Arriveassigndate: '',
                        Status: ''
                    },
                    labelPosition: 'top',
                    deptOptions: [],
                    jobTitleOptions: [],
                    roleOptions:[],
                    pageOptions: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                        }],
                    pageValue: '',
                    dialogTitle: '新增使用者帳號',
                    dialogFormVisible: false,
                    IDdisabled: false,
                    addOrEdit:''
                },
                methods: {
                    onSearch() {
                        LoadTableData();
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    },
                    onEditClick(cell, formName) {
                        formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變
                        //補欄位讓VUE正常執行
                        formData.USER_PWD_AGAIN = '';

                        if (formData.ROLE_ID == null) {
                            formData.ROLE_ID = [];
                        } else {
                            formData.ROLE_ID = formData.ROLE_ID.split(','); //轉陣列
                            formData.ROLE_ID.pop();//移除最後空元素
                        }

                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                        this.addOrEdit = 'edit';
                        this.IDdisabled = true;
                        this.dialogFormVisible = true;
                        this.dialogTitle = '修改訂單資料';
                        //確實開啟dialog之後才把資料放上去->onBindData
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                var data = $.extend(true, {}, this.form);//深拷貝不讓原本form的值改變
                                data.ROLE_ID = data.ROLE_ID.join(',');
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")', data)
                                    .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('新增失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('新增成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                } else {
                                    axios.post('@Url.Action("Edit")', data)
                                        .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('修改失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('修改成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                }
            });
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };

            var editClick = function (e, cell) {
                vm.onEditClick(cell, 'form');
            };

            //取得部門下拉
            $.get({
                url: "@Url.Action("GetDeptOption")"
            }).done(function (result) {
                vm.deptOptions = result;
            });
            //取得職位下拉
            $.get({
                url: "@Url.Action("GetJobTitleOption")"
            }).done(function (result) {
                vm.jobTitleOptions = result;
            });
            //取得角色下拉
            $.get({
                url: "@Url.Action("GetRoleOption")"
            }).done(function (result) {
                vm.roleOptions = result;
            });

            //table
            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "USER_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    {
                        formatter: "rowSelection", titleFormatter: "rowSelection", hozAlign: "center", headerSort: false, cellClick: function (e, cell) {
                            cell.getRow().toggleSelect();
                        }
                    },
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "訂單號碼", field: "OrderId", hozAlign: "center" },
                    { title: "託運單號", field: "DeliveryId", hozAlign: "center" },
                    { title: "訂單建立日期", field: "CreateDate",hozAlign: "center" },
                    { title: "寄件人", field: "SendContact", hozAlign: "center" },
                    { title: "收件人", field: "ReceiveContact", hozAlign: "center" },
                    { title: "收件人地址", field: "ReceiveAddress", hozAlign: "center" },
                    { title: "數量", field: "Quantity", hozAlign: "center" },
                    { title: "代收貨款", field: "CollectionMoney", hozAlign: "center"},
                    { title: "配送日", field: "Arriveassigndate",hozAlign: "center"},
                    { title: "訂單狀態", field: "Status", hozAlign: "center" },
                    { title: "訂單明細", formatter: editIcon, hozAlign: "center", cellClick: editClick },
                    { title: "託運貨態", formatter: editIcon, hozAlign: "center" }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
            var printIcon = function (cell, formatterParams) { //plain text value
                return "<i class='fa fa-print'></i>";
            };
            //trigger download of data.xlsx file
            document.getElementById("download-xlsx").addEventListener("click", function () {
                table.download("xlsx", "訂單明細.xlsx", { sheetName: "訂單明細" });
            });

            function LoadTableData() {
                axios.get('@Url.Action("GetTableData")', {
                    params: vm.searchForm
                }).then(function (response) {
                    table.setData(response.data);
                }).catch(function (error) {
                });
            }
        });

    </script>
</body>
</html>
