﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <transition name="el-fade-in">
            <section v-show="show1" class="position-absolute w-100">
                <div id="formblock" class="rounded-lg bg-white p-3">
                    <!--Header-->
                    <el-form :label-position="labelPosition" label-width="80px" :model="searchForm">
                        <el-row :gutter="20">
                            <el-col :span="4">
                                <el-form-item label="功能代碼">
                                    <el-input v-model="searchForm.id"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    @if (ViewBag.Auth.CAN_SEARCH == "Y")
                    {
                        <el-row type="flex" justify="center">
                            <el-col :span="6">
                                <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                            </el-col>
                        </el-row>
                    }
                </div>
                <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
                    <el-row type="flex" justify="space-between">
                        <el-col :span="6">
                            <el-select v-model="headerValue" placeholder="選擇顯示筆數" @@change="onHeaderSelectPage()">
                                <el-option v-for="item in options"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        @if (ViewBag.Auth.CAN_ADD == "Y")
                        {
                            <el-col :span="2" class="my-auto w-auto">
                                <el-button type="primary" round plain @@click="onHeaderAddClick('headerForm')" size="small">新增</el-button>
                            </el-col>
                        }
                    </el-row>

                    <div id="headerTable" class="mt-4"></div>

                    <el-dialog :title="dialogTitle+'數據字典'" width="30%" top="1vh" :visible.sync="dialogHeaderVisible"
                               @@opened="onBindData('header')" center>
                        <el-form :model="headerForm" :rules="headerRules" ref="headerForm" size="mini" label-width="auto">
                            <el-form-item label="功能代碼" prop="FUNC_ID">
                                <el-input v-model="headerForm.FUNC_ID" :disabled="IDdisabled"></el-input>
                            </el-form-item>
                            <el-form-item label="功能說明" prop="FUNC_DESC">
                                <el-input v-model="headerForm.FUNC_DESC"></el-input>
                            </el-form-item>
                            <el-form-item label="顯示順序" prop="DSP_ORD">
                                <el-input v-model="headerForm.DSP_ORD"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click="dialogHeaderVisible = false">取消</el-button>
                            <el-button type="primary" @@click="onHeaderSubmit('headerForm')">確定</el-button>
                        </div>
                    </el-dialog>
                </div>
            </section>
        </transition>
        <transition name="el-fade-in">
            <section v-show="show2" class="position-absolute w-100">
                <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
                    <el-button type="primary" round plain @@click="show1=true;show2=false">回上頁</el-button>
                    <el-row type="flex" class="mt-4" justify="space-between">
                        <el-col :span="6">
                            <el-select v-model="wordValue" placeholder="選擇顯示筆數" @@change="onWordSelectPage()">
                                <el-option v-for="item in options"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        @if (ViewBag.Auth.CAN_ADD == "Y")
                        {
                            <el-col :span="2" class="my-auto w-auto">
                                <el-button type="primary" round plain @@click="onWordAddClick('wordForm')" size="small">新增</el-button>
                            </el-col>
                        }
                    </el-row>
                    <div id="wordTable" class="mt-4"></div>

                    <el-dialog :title="dialogTitle+'數據字典'" width="30%" top="1vh" :visible.sync="dialogWordVisible"
                               @@opened="onBindData('word')" center>
                        <el-form :model="wordForm" :rules="wordRules" ref="wordForm" size="mini" label-width="auto">
                            <el-form-item label="功能代碼" prop="FUNC_ID">
                                <el-input v-model="wordForm.FUNC_ID" disabled></el-input>
                            </el-form-item>
                            <el-form-item label="詞彙資料" prop="CMN_WORD">
                                <el-input v-model="wordForm.CMN_WORD"></el-input>
                            </el-form-item>
                            <el-form-item label="顯示順序" prop="DSP_ORD">
                                <el-input v-model="wordForm.DSP_ORD"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click="dialogWordVisible = false">取消</el-button>
                            <el-button type="primary" @@click="onWordSubmit('wordForm')">確定</el-button>
                        </div>
                    </el-dialog>
                </div>
            </section>
        </transition>
    </div>
    <script>
        $(function () {
            var formData; //儲存表單內容
            var selectRow; //選擇的列
            var vm = new Vue({
                el: '#app',
                data: {
                    labelPosition: 'top',
                    searchForm: {
                        id: ''
                    },
                    headerForm: {
                        WD_SEQ:'',
                        FUNC_ID: '',
                        FUNC_DESC: '',
                        DSP_ORD: '',
                        HEAD_FG: 'Y'
                    },
                    wordForm: {
                        WD_SEQ:'',
                        FUNC_ID: '',
                        CMN_WORD: '',
                        DSP_ORD: '',
                        HEAD_FG: ''
                    },
                    headerRules: {
                        FUNC_ID: [
                            { required: true, message: '請輸入功能代碼', trigger: 'blur' }
                        ],
                        FUNC_DESC: [
                            { required: true, message: '請輸入功能說明', trigger: 'blur' }
                        ],
                        DSP_ORD: [
                            { required: true, message: '請輸入顯示順序', trigger:'blur'}
                        ]
                    },
                    wordRules: {
                        FUNC_ID: [
                            { required: true, message: '請輸入功能代碼', trigger: 'blur' }
                        ],
                        CMN_WORD: [
                            { required: true, message: '請輸入詞彙資料', trigger: 'blur' }
                        ],
                        DSP_ORD: [
                            { required: true, message: '請輸入顯示順序', trigger:'blur'}
                        ]
                    },
                    options: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                    }],
                    headerValue: 25,
                    wordValue: 25,
                    IDdisabled: false,
                    addOrEdit:'',
                    dialogHeaderVisible: false,
                    dialogWordVisible: false,
                    dialogTitle: '新增',
                    show1: true,
                    show2: false,
                },
                methods: {
                    onSearch() {
                        headerTable.setData("@Url.Action("GetHeaderTableData")?FUNC_ID=" + vm.searchForm.id);
                    },
                    onWordReload() {
                        wordTable.setData("@Url.Action("GetWordTableData")?FUNC_ID=" + selectRow.FUNC_ID);
                    },
                    onHeaderAddClick(formName) {
                        this.IDdisabled = false;
                        this.addOrEdit = 'add';
                        this.dialogHeaderVisible = true;
                        this.dialogTitle = '新增';
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                    },
                    onWordAddClick(formName) {
                        this.addOrEdit = 'add';
                        this.dialogWordVisible = true;
                        this.dialogTitle = '新增';
                        this.wordForm.FUNC_ID = selectRow.FUNC_ID;
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                                this.wordForm.FUNC_ID = selectRow.FUNC_ID;
                            });
                        }
                    },
                    onHeaderSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.addOrEdit == "add") {
                                    this.headerForm.HEAD_FG = 'Y';
                                    axios.post('@Url.Action("Add")', this.headerForm)
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('新增失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else if (res.data == -2) {
                                                this.$alert('功能代碼已存在，不可儲存', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else {
                                                this.$alert('新增成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.dialogHeaderVisible = false;
                                                        this.onSearch();
                                                    }
                                                });
                                            }
                                        });
                                } else {
                                    axios.post('@Url.Action("Edit")', this.headerForm)
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('修改失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else {
                                                this.$alert('修改成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.dialogHeaderVisible = false;
                                                        this.onSearch();
                                                    }
                                                });
                                            }
                                        });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    onWordSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.addOrEdit == "add") {
                                    this.wordForm.HEAD_FG = 'N';
                                    axios.post('@Url.Action("Add")', this.wordForm)
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('新增失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else if (res.data == -2) {
                                                this.$alert('詞彙資料已存在，不可儲存', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else {
                                                this.$alert('新增成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.dialogWordVisible = false;
                                                        this.onWordReload();
                                                    }
                                                });
                                            }
                                        });
                                } else {
                                    this.wordForm.HEAD_FG = 'N';
                                    axios.post('@Url.Action("Edit")', this.wordForm)
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('修改失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else if (res.data == -2) {
                                                this.$alert('詞彙資料已存在，不可儲存', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else {
                                                this.$alert('修改成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.dialogWordVisible = false;
                                                        this.onWordReload();
                                                    }
                                                });
                                            }
                                        });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    onHeaderSelectPage() {
                        headerTable.setPageSize(this.value);
                    },
                    onWordSelectPage() {
                        wordTable.setPageSize(this.value);
                    },
                    onBindData(type) {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                if (type == 'header') {
                                    this.headerForm = formData;
                                } else {
                                    this.wordForm = formData;
                                }
                            });
                        }
                    }
                }
            });
            //定義表格裡圖案
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };
            var deleteIcon = function (cell, formatterParams) {
                return "<i class='el-icon-delete-solid'></i>";
            };

            var editClick_header = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                vm.addOrEdit = 'edit';
                vm.IDdisabled = true;
                vm.dialogHeaderVisible = true;
                vm.dialogTitle = '編輯';
                //確實開啟dialog之後才把資料放上去->onBindData
            }
            var editClick_word = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                vm.addOrEdit = 'edit';
                vm.dialogWordVisible = true;
                vm.dialogTitle = '編輯';
                //確實開啟dialog之後才把資料放上去->onBindData
            }
            var deleteClick = function (e, cell) {
                axios.post('@Url.Action("Delete")', { WD_SEQ: cell.getRow().getData().WD_SEQ, HEAD_FG: cell.getRow().getData().HEAD_FG })
                    .then((res) => {
                        if (res.data == -1) {
                            vm.$alert('刪除失敗', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    //停留在原地
                                }
                            });
                        } else {
                            vm.$alert('刪除成功', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    vm.onSearch();
                                    selectRow.FUNC_ID = '';
                                    vm.onWordReload();
                                }
                            });
                        }
                    });
            }

            var headerTable = new Tabulator("#headerTable", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                selectable: 1, //make rows selectable
                initialSort: [             //set the initial sort order of the data
                    { column: "FUNC_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "功能代碼", field: "FUNC_ID", hozAlign: "center" },
                    { title: "功能說明", field: "FUNC_DESC", hozAlign: "center" },
                    { title: "編輯", field: "edit", formatter: editIcon, hozAlign: "center", cellClick: editClick_header },
                    { title: "刪除", field: "delete", formatter: deleteIcon, hozAlign: "center", cellClick: deleteClick }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
            headerTable.on("rowDblClick", function (e, row) {
                selectRow = row.getData();
                vm.show1 = false;
                vm.show2 = true;
                vm.onWordReload();
            });
            headerTable.on("tableBuilt", function () {
                //編輯權限
                if ('@ViewBag.Auth.CAN_MODIFY' == 'N') {
                    headerTable.hideColumn('edit');
                }
                //刪除權限
                if ('@ViewBag.Auth.CAN_DEL' == 'N') {
                    headerTable.hideColumn('delete');
                }
            });

            var wordTable = new Tabulator("#wordTable", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "DSP_ORD", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "功能代碼", field: "FUNC_ID", hozAlign: "center" },
                    { title: "詞彙資料", field: "CMN_WORD", hozAlign: "center" },
                    { title: "編輯", field: "edit", formatter: editIcon, hozAlign: "center", cellClick: editClick_word },
                    { title: "刪除", field: "delete", formatter: deleteIcon, hozAlign: "center", cellClick: deleteClick }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
            wordTable.on("tableBuilt", function () {
                //編輯權限
                if ('@ViewBag.Auth.CAN_MODIFY' == 'N') {
                    wordTable.hideColumn('edit');
                }
                //刪除權限
                if ('@ViewBag.Auth.CAN_DEL' == 'N') {
                    wordTable.hideColumn('delete');
                }
            });
        });
    </script>
</body>
</html>
