﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <el-form ref="searchForm" :label-position="labelPosition" label-width="80px" :model="searchForm">
                <el-row :gutter="20">
                    <el-col :span="3">
                        <el-form-item label="部門代碼">
                            <el-input v-model="searchForm.DEPT_ID"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="3">
                        <el-form-item label="部門名稱">
                            <el-input v-model="searchForm.DEPT_NAME"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="3">
                        <el-form-item label="類別">
                            <el-select v-model="searchForm.DEPT_TYPE" placeholder="請選擇">
                                <el-option v-for="item in typeOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="3">
                        <el-form-item label="部門層級">
                            <el-select v-model="searchForm.DEPT_LEVEL" placeholder="請選擇">
                                <el-option v-for="item in levelOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="3">
                        <el-form-item label="轉運站">
                            <el-select v-model="searchForm.DEPT_STN" placeholder="請選擇">
                                <el-option v-for="item in stnOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="3">
                        <el-form-item label="區域">
                            <el-select v-model="searchForm.AREA" placeholder="請選擇">
                                <el-option v-for="item in areaOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="3">
                        <el-form-item label="使用狀態">
                            <el-select v-model="searchForm.ACT_FG" placeholder="請選擇">
                                <el-option v-for="item in actOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>

            @if (ViewBag.Auth.CAN_SEARCH == "Y")
            {
                <el-row type="flex" justify="center">
                    <el-col :span="6">
                        <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                    </el-col>
                </el-row>
            }
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                        <el-option v-for="item in pageOptions"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="2" class="my-auto w-auto">
                    <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                    <el-button type="primary" round plain size="small">列印</el-button>
                </el-col>
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-dialog :title="dialogTitle" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :rules="rules" ref="form" size="mini">
                    <el-form-item label="部門代碼" prop="DEPT_ID">
                        <el-input v-model="form.DEPT_ID" :disabled="IDdisabled"></el-input>
                    </el-form-item>
                    <el-form-item label="部門名稱" prop="DEPT_NAME">
                        <el-input v-model="form.DEPT_NAME"></el-input>
                    </el-form-item>
                    <el-form-item label="部門簡稱" prop="DEPT_BRF">
                        <el-input v-model="form.DEPT_BRF"></el-input>
                    </el-form-item>
                    <el-form-item label="類別" prop="DEPT_TYPE">
                        <el-select class="w-100" v-model="form.DEPT_TYPE" placeholder="請選擇">
                            <el-option v-for="item in typeOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="電話" prop="TEL_NO">
                        <el-input v-model="form.TEL_NO"></el-input>
                    </el-form-item>
                    <el-form-item label="聯絡人" prop="CONTACT">
                        <el-input v-model="form.CONTACT"></el-input>
                    </el-form-item>
                    <el-form-item label="地址" prop="DEPT_ADDR">
                        <el-input v-model="form.DEPT_ADDR"></el-input>
                    </el-form-item>
                    <el-form-item label="經度(地點)" prop="POS_LONG">
                        <el-input v-model="form.POS_LONG"></el-input>
                    </el-form-item>
                    <el-form-item label="緯度(地點)" prop="POS_LATI">
                        <el-input v-model="form.POS_LATI"></el-input>
                    </el-form-item>
                    <el-form-item label="部門層級" prop="DEPT_LEVEL">
                        <el-select class="w-100" v-model="form.DEPT_LEVEL" placeholder="請選擇">
                            <el-option v-for="item in levelOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="轉運站" prop="DEPT_STN">
                        <el-select class="w-100" v-model="form.DEPT_STN" placeholder="請選擇">
                            <el-option v-for="item in stnOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="區域" prop="AREA">
                        <el-select class="w-100" v-model="form.AREA" placeholder="請選擇">
                            <el-option v-for="item in areaOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="所屬大區域" prop="B_AREA">
                        <el-input v-model="form.B_AREA"></el-input>
                    </el-form-item>
                    <el-form-item label="啟用/停用" prop="ACT_FG">
                        <el-radio-group v-model="form.ACT_FG">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData;//儲存表單資料
            var vm = new Vue({
                el: '#app',
                data: {
                    labelPosition: 'top',
                    searchForm: {
                        DEPT_ID: '',
                        DEPT_NAME: '',
                        DEPT_TYPE: '',
                        DEPT_LEVEL: '',
                        DEPT_STN: '',
                        AREA: '',
                        ACT_FG: ''
                    },
                    form: {
                        DEPT_ID: '',
                        DEPT_NAME: '',
                        DEPT_BRF: '',
                        DEPT_TYPE: '',
                        TEL_NO: '',
                        CONTACT: '',
                        DEPT_ADDR: '',
                        POS_LONG: '',
                        POS_LATI: '',
                        DEPT_LEVEL: '',
                        DEPT_STN: '',
                        B_AREA: '',
                        AREA: '',
                        ACT_FG: ''
                    },
                    rules: {
                        DEPT_ID: [
                            { required: true, message: '請輸入部門代碼', trigger: 'blur' }
                        ],
                        DEPT_NAME: [
                            { required: true, message: '請輸入部門名稱', trigger: 'blur' }
                        ]
                    },
                    typeOptions: [],
                    levelOptions: [],
                    stnOptions: [],
                    areaOptions: [],
                    actOptions: [
                        {
                            value: 'N',
                            label: '停用'
                        },
                        {
                            value: 'Y',
                            label: '啟用'
                        },
                        {
                            value: '%',
                            label: '全部'
                        }
                    ],
                    pageOptions: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                        }],
                    pageValue: '',
                    IDdisabled: false,
                    addOrEdit: '',
                    dialogFormVisible: false,
                    dialogTitle :'新增部門資料'
                },
                methods: {
                    LoadTableData() {
                        axios.get('@Url.Action("GetTableData")', {
                            params: vm.searchForm,
                            headers: {
                                accessToken: localStorage.getItem('token')
                            }
                        }).then(function (response) {
                            table.setData(response.data);
                        }).catch(function (error) {
                        });
                    },
                    onSearch() {
                        this.LoadTableData();
                    },
                    onAddClick(formName) {
                        this.IDdisabled = false;
                        this.addOrEdit = 'add';
                        this.dialogTitle = '新增部門資料';
                        this.dialogFormVisible = true;
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                    },
                    onSelectPage() {
                        table.setPageSize(this.pageValue);
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")', this.form, {
                                        headers: {
                                            accessToken: localStorage.getItem('token')
                                        }
                                    })
                                    .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('新增失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('新增成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                } else {
                                    axios.post('@Url.Action("Edit")', this.form, {
                                        headers: {
                                            accessToken: localStorage.getItem('token')
                                        }
                                    })
                                        .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('修改失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('修改成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    }
                }
            });

            //取得類別下拉
            axios.get('@Url.Action("GetOption")', {
                params: { FUNC_ID: "bsDeptType" },
                headers: {
                    accessToken: localStorage.getItem('token')
                }
            }).then(function (response) {
                vm.typeOptions = response.data;
            }).catch(function (error) {
            });
            //取得部門層級下拉
            axios.get('@Url.Action("GetOption")', {
                params: { FUNC_ID: "bsDeptLevel" },
                headers: {
                    accessToken: localStorage.getItem('token')
                }
            }).then(function (response) {
                vm.levelOptions = response.data;
            }).catch(function (error) {
            });
            //取得轉運站下拉
            axios.get('@Url.Action("GetOption")', {
                params: { FUNC_ID: "bsDeptStn" },
                headers: {
                    accessToken: localStorage.getItem('token')
                }
            }).then(function (response) {
                vm.stnOptions = response.data;
            }).catch(function (error) {
            });
            //取得區域下拉
            axios.get('@Url.Action("GetOption")', {
                params: { FUNC_ID: "bsDeptArea" },
                headers: {
                    accessToken: localStorage.getItem('token')
                }
            }).then(function (response) {
                vm.areaOptions = response.data;
            }).catch(function (error) {
            });

            //定義表格裡圖案
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };

            var editClick = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                vm.addOrEdit = 'edit';
                vm.IDdisabled = true;
                vm.dialogFormVisible = true;
                vm.dialogTitle = '修改部門資料';
                //確實開啟dialog之後才把資料放上去->onBindData
            }

            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "DEPT_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "部門代碼", field: "DEPT_ID", hozAlign: "center" },
                    { title: "部門名稱", field: "DEPT_NAME", hozAlign: "center" },
                    { title: "部門簡稱", field: "DEPT_BRF", hozAlign: "center" },
                    { title: "類別", field: "DEPT_TYPE", hozAlign: "center" },
                    { title: "電話", field: "TEL_NO", hozAlign: "center" },
                    { title: "聯絡人", field: "CONTACT", hozAlign: "center" },
                    { title: "狀態", field: "ACT_FG", hozAlign: "center" },
                    { title: "部門層級", field: "DEPT_LEVEL", hozAlign: "center"},
                    { title: "轉運站", field: "DEPT_STN", hozAlign: "center"},
                    { title: "區域", field: "AREA", hozAlign: "center"},
                    { title: "編輯", formatter: editIcon, hozAlign: "center", cellClick: editClick }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });

            
        });
    </script>
</body>
</html>
