﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body>
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <el-form ref="searchForm" :label-position="labelPosition" label-width="auto" :model="searchForm">
                <el-row :gutter="20">
                    <el-col :span="4">
                        <el-form-item label="區域代碼">
                            <el-input v-model="searchForm.AREA_ID"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="配送站所">
                            <el-select v-model="searchForm.DEPT_ID" clearable placeholder="請選擇">
                                <el-option v-for="item in deptOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="縣市">
                            <el-select v-model="searchForm.AREA_SECT1" @@change="onSect1Change" clearable placeholder="請選擇">
                                <el-option v-for="item in sect1Options"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="鄉鎮市區">
                            <el-select v-model="searchForm.AREA_SECT2" clearable placeholder="請選擇">
                                <el-option v-for="item in sect2Options"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="上傳">
                            <el-upload action="@Url.Action("UploadFile")"
                                       :on-success="onUploadSuccess"
                                       :file-list="fileList"
                                       :headers="fileHeader">
                                <el-button size="small" type="primary">選擇檔案</el-button>
                            </el-upload>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-row>
                <el-col :span="6" :offset="9">
                    <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                </el-col>
                <el-col :span="3" :offset="6">
                    <el-button style="width: 100%" type="primary" @@click="onDownload">下載空白路段維護表</el-button>
                </el-col>
            </el-row>
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                        <el-option v-for="item in pageOptions"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="2" class="my-auto w-auto">
                    <el-button type="primary" round plain @@click="onDelClick()" size="small">刪除</el-button>
                    <el-button type="primary" round plain @@click="onBatchEdit('batchForm')" size="small">批次修改</el-button>
                    <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                </el-col>
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-dialog :title="dialogTitle" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :label-position="labelPosition" label-width="auto" :rules="rules" ref="form" size="mini">
                    <input type="hidden" v-model="form.AREA_ID">

                    <el-form-item label="縣市" prop="AREA_SECT1">
                        <el-select class="w-100" v-model="form.AREA_SECT1" @@change="onSect1Change" placeholder="請選擇">
                            <el-option v-for="item in sect1Options"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="鄉鎮市區" prop="AREA_SECT2">
                        <el-select class="w-100" v-model="form.AREA_SECT2" @@change="onSect2Change" placeholder="請選擇">
                            <el-option v-for="item in sect2Options"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="街/路/段" prop="AREA_SECT3">
                        <el-select class="w-100" v-model="form.AREA_SECT3" placeholder="請選擇">
                            <el-option v-for="item in sect3Options"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="範圍" prop="AREA_SECT4">
                        <el-input v-model="form.AREA_SECT4"></el-input>
                    </el-form-item>
                    <el-form-item label="郵遞區號" prop="ZIP_CODE">
                        <el-input v-model="form.ZIP_CODE"></el-input>
                    </el-form-item>
                    <el-form-item label="偏遠地區" prop="REMOTE_FG">
                        <el-radio-group v-model="form.REMOTE_FG">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="轉聯運否" prop="TRSF_FG">
                        <el-radio-group v-model="form.TRSF_FG">
                            <el-radio label="Y">Yes</el-radio>
                            <el-radio label="N">No</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="站所名稱(聯運商)" prop="DEPT_ID">
                        <el-select class="w-100" v-model="form.DEPT_ID" placeholder="請選擇">
                            <el-option v-for="item in deptOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="SD碼" prop="SD_CODE">
                        <el-input v-model="form.SD_CODE"></el-input>
                    </el-form-item>
                    <el-form-item label="MD碼" prop="MD_CODE">
                        <el-input v-model="form.MD_CODE"></el-input>
                    </el-form-item>
                    <el-form-item label="堆疊區" prop="STACK_AREA">
                        <el-input v-model="form.STACK_AREA"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                </div>
            </el-dialog>

            <el-dialog title="批次指定配送單位" width="30%" top="1vh" :visible.sync="dialogBatchVisible" center>
                <el-form :model="batchForm" :label-position="labelPosition" label-width="auto" ref="batchForm" :rules="rules" size="mini">
                    <el-form-item label="站所名稱(聯運商)" prop="DEPT_ID">
                        <el-select class="w-100" v-model="batchForm.DEPT_ID" placeholder="請選擇">
                            <el-option v-for="item in deptOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="SD碼" prop="SD_CODE">
                        <el-input v-model="batchForm.SD_CODE"></el-input>
                    </el-form-item>
                    <el-form-item label="MD碼" prop="MD_CODE">
                        <el-input v-model="batchForm.MD_CODE"></el-input>
                    </el-form-item>
                    <el-form-item label="堆疊區" prop="STACK_AREA">
                        <el-input v-model="batchForm.STACK_AREA"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogBatchVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmitBatch('batchForm')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData;
            var vm = new Vue({
                el: '#app',
                data: {
                    searchForm: {
                        AREA_ID: '',
                        DEPT_ID: '',
                        AREA_SECT1: '',
                        AREA_SECT2: ''
                    },
                    form: {
                        AREA_ID: '',
                        AREA_SECT1: '',
                        AREA_SECT2: '',
                        AREA_SECT3: '',
                        AREA_SECT4: '',
                        ZIP_CODE: '',
                        REMOTE_FG: '',
                        TRSF_FG: '',
                        DEPT_ID: '',
                        SD_CODE: '',
                        MD_CODE: '',
                        STACK_AREA: ''
                    },
                    batchForm: {
                        AREA_ID: [],
                        DEPT_ID: '',
                        SD_CODE: '',
                        MD_CODE: '',
                        STACK_AREA: ''
                    },
                    rules: {
                        AREA_SECT1: [
                            { required: true, message: '請選擇縣市', trigger: 'change' }
                        ],
                        AREA_SECT2: [
                            { required: true, message: '請選擇鄉鎮市區', trigger: 'change' }
                        ],
                        ZIP_CODE: [
                            { required: true, message: '請輸入郵遞區號', trigger: 'blur' }
                        ],
                        REMOTE_FG: [
                            { required: true, message: '請選擇是否為偏遠地區', trigger: 'change' }
                        ],
                        TRSF_FG: [
                            { required: true, message: '請選擇是否轉聯運', trigger: 'change' }
                        ],
                        DEPT_ID: [
                            { required: true, message: '請選擇站所', trigger: 'change' }
                        ],
                    },
                    fileList: [],
                    fileHeader:  {accessToken: localStorage.getItem('token')},
                    deptOptions: [],
                    sect1Options: [],
                    sect2Options: [],
                    sect3Options: [],
                    pageOptions: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                    }],
                    pageValue:'',
                    labelPosition: 'top',
                    dialogTitle: '',
                    dialogFormVisible: false,
                    dialogBatchVisible: false,
                    IDdisabled: false,
                    addOrEdit: '',
                },
                methods: {
                    onSearch() {
                        this.LoadTableData();
                    },
                    onSect1Change(val) {
                        axios.get('@Url.Action("GetSect2Option")', {
                            params: { AREA_SECT1: val },
                            headers: {
                                accessToken: localStorage.getItem('token')
                            }
                        }).then(function (response) {
                            vm.sect2Options = response.data;
                        }).catch(function (error) {
                        });
                    },
                    onSect2Change(val) {
                        axios.get('@Url.Action("GetSect3Option")', {
                            params: { AREA_SECT1: this.form.AREA_SECT1, AREA_SECT2: val },
                            headers: {
                                accessToken: localStorage.getItem('token')
                            }
                        }).then(function (response) {
                            vm.sect3Options = response.data;
                        }).catch(function (error) {
                        });
                    },
                    onSelectPage() {
                        table.setPageSize(this.pageValue);
                    },
                    LoadTableData() {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Loading',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                        });
                        axios.get('@Url.Action("GetTableData")', {
                            params: this.searchForm,
                            headers: {
                                accessToken: localStorage.getItem('token')
                            }
                        }).then(function (response) {
                            table.setData(response.data);
                            loading.close();
                        }).catch(function (error) {
                        });
                    },
                    onBatchEdit(formName) {
                        var data = table.getSelectedData();
                        if (data.length == 0) {
                            this.$alert('請選擇資料', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {}
                            });
                        } else {
                            this.batchForm.AREA_ID = [];
                            data.forEach(element =>
                                this.batchForm.AREA_ID.push(element.AREA_ID)
                            );
                            this.dialogBatchVisible = true;
                            if (this.$refs[formName] !== undefined) {
                                this.$nextTick(() => {
                                    this.$refs[formName].resetFields();
                                });
                            }
                        }
                    },
                    onAddClick(formName) {
                        this.IDdisabled = false;
                        this.addOrEdit = 'add';
                        this.dialogFormVisible = true;
                        this.dialogTitle = '新增配送區域(路段)維護';
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                    },
                    onEditClick(cell, formName) {
                        formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                        this.addOrEdit = 'edit';
                        this.IDdisabled = true;
                        this.dialogFormVisible = true;
                        this.dialogTitle = '修改配送區域(路段)維護';
                        //確實開啟dialog之後才把資料放上去->onBindData
                    },
                    onDelClick() {
                        var data = table.getSelectedData();
                        if (data.length == 0) {
                            this.$alert('請選擇資料', '提示', {
                                confirmButtonText: '確定',
                                callback: action => { }
                            });
                        } else {
                            this.$alert('確定要刪除資料?', '提示', {
                                confirmButtonText: '確定',
                                cancelButtonText: '取消',
                                callback: action => {
                                    if (action == "confirm") {
                                        var AREA_ID = [];
                                        data.forEach(element =>
                                            AREA_ID.push(element.AREA_ID)
                                        );
                                        axios.post('@Url.Action("Del")', { AREA_ID: AREA_ID },
                                            {
                                                headers: {
                                                    accessToken: localStorage.getItem('token')
                                                }
                                            })
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('刪除失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.LoadTableData();
                                                    }
                                                });
                                            } else {
                                                this.$alert('刪除成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.LoadTableData();
                                                    }
                                                });
                                            }
                                        });
                                    }
                                }
                            });

                        }
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    },
                    onDownload() {
                        window.location = "@Url.Action("DownloadFile")";
                    },
                    onUploadSuccess(response, file, fileList) {
                        this.$alert("成功匯入:"+"筆", '提示', {
                            confirmButtonText: '確定',
                            callback: action => {
                                this.LoadTableData();
                                this.fileList = [];
                            }
                        });
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")', this.form, {
                                        headers: {
                                            accessToken: localStorage.getItem('token')
                                        }
                                    })
                                    .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('新增失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('新增成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                } else {
                                    axios.post('@Url.Action("Edit")', this.form, {
                                        headers: {
                                            accessToken: localStorage.getItem('token')
                                        }
                                    })
                                        .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('修改失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('修改成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    onSubmitBatch(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                axios.post('@Url.Action("BatchEdit")', this.batchForm, {
                                    headers: {
                                        accessToken: localStorage.getItem('token')
                                    }
                                })
                                .then((res) => {
                                    if (res.data == -1) {
                                        this.$alert('修改失敗', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.dialogBatchVisible = false;
                                                this.LoadTableData();
                                            }
                                        });
                                    } else {
                                        this.$alert('修改成功', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.dialogBatchVisible = false;
                                                this.LoadTableData();
                                            }
                                        });
                                    }
                                    });
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    }
                }
            });

            //取得縣市下拉選項
            axios.get('@Url.Action("GetSect1Option")', {
                headers: {
                    accessToken: localStorage.getItem('token')
                }
            }).then(function (response) {
                vm.sect1Options = response.data;
            }).catch(function (error) {
            });
            //取得配送站所下拉
            axios.get('@Url.Action("GetDeptOption")', {
                headers: {
                    accessToken: localStorage.getItem('token')
                }
            }).then(function (response) {
                vm.deptOptions = response.data;
            }).catch(function (error) {
            });


            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "AREA_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    {
                        formatter: "rowSelection", titleFormatter: "rowSelection", hozAlign: "center", headerSort: false, cellClick: function (e, cell) {
                            cell.getRow().toggleSelect();
                        }
                    },
                    { title: "區域代號", field: "AREA_ID", hozAlign: "center" },
                    { title: "縣市", field: "AREA_SECT1", hozAlign: "center" },
                    { title: "鄉鎮市區", field: "AREA_SECT2", hozAlign: "center" },
                    { title: "街/路", field: "AREA_SECT3", hozAlign: "center" },
                    { title: "範圍", field: "AREA_SECT4", hozAlign: "center" },
                    { title: "郵遞區號", field: "ZIP_CODE", hozAlign: "center" },
                    { title: "偏遠地區", field: "REMOTE_FG", hozAlign: "center" },
                    { title: "轉聯運否", field: "TRSF_FG", hozAlign: "center" },
                    { title: "站所代號", field: "DEPT_ID", hozAlign: "center" },
                    { title: "站所名稱", field: "DEPT_NAME", hozAlign: "center" },
                    { title: "SD碼", field: "SD_CODE", hozAlign: "center" },
                    { title: "MD碼", field: "MD_CODE", hozAlign: "center" },
                    { title: "堆疊區", field: "STACK_AREA", hozAlign: "center" },
                    {
                        title: "編輯",
                        formatter: function (cell, formatterParams) {
                            return "<i class='el-icon-edit'></i>";
                        },
                        hozAlign: "center",
                        cellClick: function (e, cell) {
                            vm.onEditClick(cell, 'form');
                        }
                    },
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
        });
    </script>
</body>
</html>
