﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <el-form ref="searchForm" :label-position="labelPosition" label-width="auto" :model="searchForm">
                <el-row :gutter="20">
                    <el-col :span="4">
                        <el-form-item label="產品代碼">
                            <el-input v-model="searchForm.PROD_ID"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="產品名稱">
                            <el-input v-model="searchForm.PROD_NAME"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="使用狀態">
                            <el-select v-model="searchForm.ACT_FG" placeholder="請選擇">
                                <el-option label="全部" value="%"></el-option>
                                <el-option label="啟用" value="Y"></el-option>
                                <el-option label="停用" value="N"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-row type="flex" justify="center">
                <el-col :span="6">
                    <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                </el-col>
            </el-row>
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                        <el-option v-for="item in pageOptions"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="2" class="my-auto w-auto">
                    <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                </el-col>
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-dialog :title="dialogTitle" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :label-position="labelPosition" label-width="auto" :rules="rules" ref="form" size="mini">
                    <el-form-item label="產品代碼" prop="PROD_ID">
                        <el-input v-model="form.PROD_ID" :disabled="IDdisabled"></el-input>
                    </el-form-item>
                    <el-form-item label="產品名稱" prop="PROD_NAME">
                        <el-input v-model="form.PROD_NAME"></el-input>
                    </el-form-item>
                    <el-form-item label="產品性質" prop="PROD_TYPE">
                        <el-input v-model="form.PROD_TYPE"></el-input>
                    </el-form-item>
                    <el-form-item label="使用狀態" prop="ACT_FG">
                        <el-select class="w-100" v-model="form.ACT_FG" placeholder="請選擇">
                            <el-option label="啟用" value="Y"></el-option>
                            <el-option label="停用" value="N"></el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData;
            var vm = new Vue({
                el: '#app',
                data: {
                    searchForm: {
                        PROD_ID: '',
                        PROD_NAME: '',
                        ACT_FG: ''
                    },
                    form: {
                        PROD_ID: '',
                        PROD_NAME: '',
                        PROD_TYPE:'',
                        ACT_FG:''
                    },
                    pageOptions: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                    }],
                    rules: {
                        PROD_ID: [
                            { required: true, message: '請輸入產品代碼', trigger: 'blur' }
                        ],
                    },
                    dialogTitle:'',
                    pageValue: '',
                    labelPosition: 'top',
                    addOrEdit : '',
                    dialogFormVisible: false,
                    IDdisabled: false,
                },
                methods: {
                    onSearch() {
                        this.LoadTableData();
                    },
                    LoadTableData() {
                        axios.get('@Url.Action("GetTableData")', {
                            params: this.searchForm
                        }).then(function (response) {
                            table.setData(response.data);
                        }).catch(function (error) {
                        });
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    },
                    onAddClick(formName) {
                        this.IDdisabled = false;
                        this.addOrEdit = 'add';
                        this.dialogFormVisible = true;
                        this.dialogTitle = '新增服務產品';
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                    },
                    onEditClick(cell, formName) {
                        formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變
                        
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                        this.addOrEdit = 'edit';
                        this.IDdisabled = true;
                        this.dialogFormVisible = true;
                        this.dialogTitle = '修改服務產品資料';
                        //確實開啟dialog之後才把資料放上去->onBindData
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")', this.form)
                                    .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('新增失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('新增成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                } else {
                                    axios.post('@Url.Action("Edit")', this.form)
                                        .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('修改失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('修改成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                }
            });

            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "PROD_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "產品代碼", field: "PROD_ID", hozAlign: "center" },
                    { title: "產品名稱", field: "PROD_NAME", hozAlign: "center" },
                    { title: "產品性質", field: "PROD_TYPE", hozAlign: "center" },
                    { title: "狀態", field: "ACT_FG", hozAlign: "center" },
                    {
                        title: "編輯",
                        formatter: function (cell, formatterParams) {
                            return "<i class='el-icon-edit'></i>";
                        },
                        hozAlign: "center",
                        cellClick: function (e, cell) {
                            vm.onEditClick(cell, 'form');
                        }
                    },
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
        });
    </script>
</body>
</html>
