﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <el-form :label-position="labelPosition" label-width="80px" :model="searchForm">
                <el-row :gutter="20">
                    <el-col :span="4">
                        <el-form-item label="功能名稱">
                            <el-input v-model="searchForm.name"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            @if (ViewBag.Auth.CAN_SEARCH == "Y")
            {
                <el-row type="flex" justify="center">
                    <el-col :span="6">
                        <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                    </el-col>
                </el-row>
            }
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="value" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                        <el-option v-for="item in options"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                @if (ViewBag.Auth.CAN_ADD == "Y")
                {
                    <el-col :span="2" class="my-auto w-auto">
                        <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                    </el-col>
                }
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-dialog title="系統參數管理" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :rules="rules" ref="form" size="mini" label-width="auto">
                    <el-form-item label="參數編號" prop="SET_ID">
                        <el-input v-model="form.SET_ID" :disabled="IDdisabled"></el-input>
                    </el-form-item>
                    <el-form-item label="參數名稱" prop="SET_DESC">
                        <el-input v-model="form.SET_DESC"></el-input>
                    </el-form-item>
                    <el-form-item label="參數內容" prop="SET_VALUE">
                        <el-input v-model="form.SET_VALUE"></el-input>
                    </el-form-item>
                    <el-form-item label="備註" prop="REMARKS">
                        <el-input v-model="form.REMARKS"></el-input>
                    </el-form-item>
                    <el-form-item label="顯示順序" prop="DSP_ORD">
                        <el-input v-model="form.DSP_ORD"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData; //儲存表單內容
            var vm = new Vue({
                el: '#app',
                data: {
                    labelPosition: 'top',
                    searchForm: {
                        name: ''
                    },
                    form: {
                        SET_ID: '',
                        SET_DESC: '',
                        SET_VALUE: '',
                        REMARKS: '',
                        DSP_ORD: ''
                    },
                    rules: {
                        SET_ID: [
                            { required: true, message: '請輸入參數編號', trigger: 'blur' }
                        ],
                        SET_DESC: [
                            { required: true, message: '請輸入參數名稱', trigger: 'blur' }
                        ],
                        SET_VALUE: [
                            { required: true, message: '請輸入參數內容', trigger: 'blur' }
                        ],
                        DSP_ORD: [
                            { required: true, message: '請輸入顯示順序', trigger:'blur'}
                        ]
                    },
                    options: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                    }],
                    value: 25,
                    IDdisabled: false,
                    addOrEdit:'',
                    dialogFormVisible:false
                },
                methods: {
                    onSearch() {
                        table.setData("@Url.Action("GetTableData")?SET_DESC=" + vm.searchForm.name);
                    },
                    onAddClick(formName) {
                        this.IDdisabled = false;
                        this.addOrEdit = 'add';
                        this.dialogFormVisible = true;
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")', this.form)
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('新增失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else if (res.data == -2) {
                                                this.$alert('參數編號已存在，不可儲存', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else {
                                                this.$alert('新增成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.dialogFormVisible = false;
                                                        this.$options.methods.onSearch();
                                                    }
                                                });
                                            }
                                        });
                                } else {
                                    axios.post('@Url.Action("Edit")', this.form)
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('修改失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else if (res.data == -2) {
                                                this.$alert('參數編號已存在，不可儲存', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else {
                                                this.$alert('修改成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.dialogFormVisible = false;
                                                        this.$options.methods.onSearch();
                                                    }
                                                });
                                            }
                                        });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    onSelectPage() {
                        table.setPageSize(this.value);
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    }
                }
            });
            //定義表格裡圖案
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };

            var editClick = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                vm.addOrEdit = 'edit';
                vm.IDdisabled = true;
                vm.dialogFormVisible = true;
                //確實開啟dialog之後才把資料放上去->onBindData
            }

            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "SET_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "參數編號", field: "SET_ID", hozAlign: "center" },
                    { title: "參數內容", field: "SET_DESC", hozAlign: "center" },
                    { title: "參數內容", field: "SET_VALUE", hozAlign: "center" },
                    { title: "備註事項", field: "REMARKS", hozAlign: "center" },
                    { title: "編輯", field: "edit", formatter: editIcon, hozAlign: "center", cellClick: editClick }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
            table.on("tableBuilt", function () {
                //編輯權限
                if ('@ViewBag.Auth.CAN_MODIFY' == 'N') {
                    table.hideColumn('edit');
                }
            });
        });
    </script>
</body>
</html>
