﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <!--行事曆-->
            <el-calendar v-model="calendar" id="calendar">
                <template slot="dateCell" slot-scope="{date, data}">
                    <div>
                        <div class="calendar-day">
                            <!--日期-->
                            <h4>{{data.day.split('-').slice(2).join('-') }}</h4>
                        </div>
                        <div v-for="item in calendarData">
                            <div v-if="(item.months).indexOf(data.day.split('-').slice(1)[0])!=-1">
                                <div v-if="(item.days).indexOf(data.day.split('-').slice(2).join('-'))!=-1">
                                    <div class="is-selected">
                                        <!--格子內容-->
                                        <h4>{{item.desc}}</h4>
                                    </div>
                                </div>
                                <div v-else></div>
                            </div>
                            <div v-else></div>
                        </div>
                    </div>
                </template>
            </el-calendar>
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="value" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                        <el-option v-for="item in options"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                @if (ViewBag.Auth.CAN_ADD == "Y")
                {
                    <el-col :span="2" class="my-auto w-auto">
                        <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                        <el-button type="primary" round plain @@click="onCopyClick()" size="small">複製</el-button>
                    </el-col>
                }
            </el-row>
            <!--當月行事曆列表-->
            <div id="mainTable" class="mt-4" v-show="mainTableVisible"></div>
            <!--當年行事曆列表(複製用)-->
            <div v-show="!mainTableVisible">
                <el-form>
                    <el-row>
                        <el-col>
                            <div id="copyTable" class="mt-4"></div>
                        </el-col>
                    </el-row>
                    <el-row type="flex" justify="center" class="mt-4">
                        <el-col :span="4">
                            <el-button @@click="mainTableVisible = true">取消</el-button>
                            <el-button type="primary" @@click="copyFormVisible=true">儲存</el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
            <!--編輯行事曆畫面-->
            <el-dialog :title="'行事曆'+titleDesc" width="30%" top="30vh" :visible.sync="editFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :rules="rules" ref="form" size="mini" label-width="auto">
                    <el-form-item label="日期" prop="CAL_DATE">
                        <el-date-picker v-model="form.CAL_DATE"
                                        type="date"
                                        placeholder="選擇日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="節慶說明" prop="CAL_DESC">
                        <el-input v-model="form.CAL_DESC"></el-input>
                    </el-form-item>
                    <el-form-item label="休假是/(上班否)" prop="REST_FG">
                        <el-radio-group v-model="form.REST_FG">
                            <el-radio label="Y">是</el-radio>
                            <el-radio label="N">否</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="類別(固定)" prop="FIX_FG">
                        <el-radio-group v-model="form.FIX_FG">
                            <el-radio label="Y">是</el-radio>
                            <el-radio label="N">否</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="備註" prop="REMARKS">
                        <el-input v-model="form.REMARKS"></el-input>
                    </el-form-item>
                    <el-form-item label="狀態" prop="ACT_FG">
                        <el-select v-model="form.ACT_FG">
                            <el-option v-for="item in editFlag"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="editFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">儲存</el-button>
                </div>
            </el-dialog>
            <!--複製選項-->
            <el-dialog title="複製行事曆" width="30%" top="30vh" :visible.sync="copyFormVisible" center>
                <el-row>
                    <el-col>
                        是否將勾選的行事曆複製到
                        <el-select v-model="copyYear" placeholder="請選擇">
                            <el-option v-for="item in yearOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                        年度
                    </el-col>
                </el-row>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="copyFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onCopySubmit(false)">儲存</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData; //儲存表單內容
            var vm = new Vue({
                el: '#app',
                data: {
                    calendarData: [],
                    calendar: new Date(),
                    titleDesc: '新增',
                    form: {
                        CAL_SEQ: '',
                        CAL_DATE: '',
                        CAL_DESC: '',
                        REST_FG: '',
                        FIX_FG: '',
                        REMARKS: '',
                        ACT_FG: 'Y'
                    },
                    editFlag: [{
                        value: 'Y',
                        label: '啟用'
                    }, {
                        value: 'N',
                        label: '停用'
                    }],
                    rules: {
                        CAL_DATE: [
                            { required: true, message: '請選擇日期', trigger: 'blur' }
                        ],
                        CAL_DESC: [
                            { required: true, message: '請輸入節慶說明', trigger: 'blur' }
                        ],
                        REST_FG: [
                            { required: true, message: '請選擇休假是/(上班否)', trigger: 'blur' }
                        ],
                        FIX_FG: [
                            { required: true, message: '請選擇類別(固定)', trigger: 'blur' }
                        ],
                        ACT_FG: [
                            { required: true, message: '請選擇狀態', trigger: 'blur' }
                        ]
                    },
                    options: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                    }],
                    value: 25,
                    yearOptions: [{
                        value: new Date().getFullYear()+1,
                        label: new Date().getFullYear()+1
                    }, {
                        value: new Date().getFullYear()+2,
                        label: new Date().getFullYear()+2
                    }, {
                        value: new Date().getFullYear()+3,
                        label: new Date().getFullYear()+3
                    }, {
                        value: new Date().getFullYear()+4,
                        label: new Date().getFullYear()+4
                    }, {
                        value: new Date().getFullYear()+5,
                        label: new Date().getFullYear()+5
                    }],
                    copyYear: new Date().getFullYear() + 1,
                    titleDesc: '',
                    addOrEdit: '',
                    editFormVisible: false,
                    mainTableVisible: true,
                    copyFormVisible: false,
                },
                methods: {
                    onReload() {
                        //重整mainTable
                        mainTable.setData("@Url.Action("GetMainTableData")?DATE=" + $('.el-calendar__title').text().trim());
                        //重整日曆
                        axios.post('@Url.Action("GetCalenderData")', { Date : $('.el-calendar__title').text().trim() })
                            .then((res) => {
                                vm.calendarData = res.data;
                                //因為按灰色格也會前往上(下)個月，要在重畫日曆時重新監聽
                                $('.el-calendar__body').find('td.prev,td.next').click(function () {
                                    vm.$options.methods.onReload();
                                });
                            });
                    },
                    onAddClick(formName) {
                        this.addOrEdit = 'add';
                        this.editFormVisible = true;
                        this.titleDesc = '新增';
                        this.form.CAL_DATE = Date.parse($('.el-calendar__title').text().trim().replace(' 年 ', '-').replace(' 月', '-') + '01');//帶入目前月1日
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                                vm.form.CAL_DATE = Date.parse($('.el-calendar__title').text().trim().replace(' 年 ', '-').replace(' 月', '-') + '01');//帶入目前月1日
                            });
                        }
                    },
                    onCopyClick() {
                        copyTable.setData("@Url.Action("GetCopyTableData")");
                        this.mainTableVisible = false;
                    },
                    onCopySubmit(confirm) {
                        var table = Tabulator.findTable('#copyTable')[0];
                        var data = table.getData();
                        console.log(data);
                        axios.post('@Url.Action("Copy")', { Year: this.copyYear, Confirm: confirm, data: data })
                            .then((res) => {
                                console.log(res.data);
                                if (res.data == -2) {
                                    this.$confirm('該年度已有資料，是否覆蓋', '提示', {
                                        confirmButtonText: '確定',
                                        cancelButtonText: '取消',
                                        type: 'warning',
                                        callback: action => {
                                            this.onCopySubmit(true);
                                        }
                                    });
                                } else if (res.data == -1) {
                                    this.$alert('新增失敗', '提示', {
                                        confirmButtonText: '確定',
                                        callback: action => {
                                            //留在原地
                                        }
                                    });
                                } else {
                                    this.$alert('新增成功', '提示', {
                                        confirmButtonText: '確定',
                                        callback: action => {
                                            this.copyFormVisible = false;
                                            this.mainTableVisible = true;
                                            this.onReload();
                                        }
                                    });
                                }
                            });
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.addOrEdit == "add") {
                                    //js默認的日期格式sql看不懂，需轉換(但只要有自己選日期就不會有這個問題)
                                    this.form.CAL_DATE = new Date(this.form.CAL_DATE);
                                    axios.post('@Url.Action("Add")', this.form)
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('新增失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else {
                                                this.$alert('新增成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.editFormVisible = false;
                                                        this.$options.methods.onReload();
                                                    }
                                                });
                                            }
                                        });
                                } else {
                                    axios.post('@Url.Action("Edit")', this.form)
                                        .then((res) => {
                                            if (res.data == -1) {
                                                this.$alert('修改失敗', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        //停留在原地
                                                    }
                                                });
                                            } else {
                                                this.$alert('修改成功', '提示', {
                                                    confirmButtonText: '確定',
                                                    callback: action => {
                                                        this.editFormVisible = false;
                                                        this.$options.methods.onReload();
                                                    }
                                                });
                                            }
                                        });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    onSelectPage() {
                        mainTable.setPageSize(this.value);
                        copyTable.setPageSize(this.value);
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    }
                },
                mounted: function () { //模板掛載完成(已經轉成html)
                    this.$nextTick(function () {
                        $('.el-calendar__button-group .el-button-group>button').click(function () { //< 今天 >三個按鈕的click event
                            vm.$options.methods.onReload();
                        });
                        //處理顯示文字(預設簡體)
                        $('.el-calendar__button-group .el-button-group>button:nth-child(1)').text('<'); //前個月
                        $('.el-calendar__button-group .el-button-group>button:nth-child(2)').text('Today'); //今天
                        $('.el-calendar__button-group .el-button-group>button:nth-child(3)').text('>'); //下個月
                    })
                }
            });
            
            //定義表格裡圖案
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };
            var deleteIcon = function (cell, formatterParams) {
                return "<i class='el-icon-delete-solid'></i>";
            };
            var flagText = function (cell, formatterParams) {
                if (cell.getValue() == 'Y') return '啟用';
                else return '停用';
            }
            var setCheckBox = function (cell,formatterParams) {
                return '<input type="checkbox" class="copy-checkbox" value="' + cell.getValue() + '" checked/>';
            }
            
            var editClick = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本mainTable的值改變

                vm.addOrEdit = 'edit';
                vm.editFormVisible = true;
                vm.titleDesc = '維護';
                //確實開啟dialog之後才把資料放上去->onBindData
            }
            var deleteClick = function (e, cell) {
                axios.post('@Url.Action("Delete")', { CAL_SEQ: cell.getRow().getData().CAL_SEQ })
                    .then((res) => {
                        if (res.data == -1) {
                            vm.$alert('刪除失敗', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    //停留在原地
                                }
                            });
                        } else {
                            vm.$alert('刪除成功', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    vm.$options.methods.onReload();
                                }
                            });
                        }
                    });
            }

            var mainTable = new Tabulator("#mainTable", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "DAY", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "日期", field: "DAY", hozAlign: "center" },
                    { title: "節慶說明", field: "CAL_DESC", hozAlign: "center" },
                    { title: "休假否", field: "REST_FG", hozAlign: "center" },
                    { title: "類別", field: "FIX_FG", hozAlign: "center" },
                    { title: "備註說明", field: "REMARKS", hozAlign: "center" },
                    { title: "狀態", field: "ACT_FG", formatter: flagText, hozAlign: "center" },
                    { title: "編輯", field: "edit", formatter: editIcon, hozAlign: "center", cellClick: editClick },
                    { title: "刪除", field: "delete", formatter: deleteIcon, hozAlign: "center", cellClick: deleteClick }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
            mainTable.on("tableBuilt", function () {//在完成table時載入一次
                vm.$options.methods.onReload();
            });
            mainTable.on("tableBuilt", function () {
                //編輯權限
                if ('@ViewBag.Auth.CAN_MODIFY' == 'N') {
                    mainTable.hideColumn('edit');
                }
                //刪除權限
                if ('@ViewBag.Auth.CAN_DEL' == 'N') {
                    mainTable.hideColumn('delete');
                }
            });

            
            var copyTable = new Tabulator("#copyTable", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "CAL_DATE", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "日期", field: "CAL_DATE", hozAlign: "center" },
                    { title: "節慶說明", field: "CAL_DESC", hozAlign: "center" },
                    { title: "休假否", field: "REST_FG", hozAlign: "center" },
                    { title: "類別", field: "FIX_FG", hozAlign: "center" },
                    { title: "備註說明", field: "REMARKS", hozAlign: "center" },
                    { title: "狀態", field: "ACT_FG", formatter: flagText, hozAlign: "center" },
                    {
                        title: "勾選", field: "CK_FG", hozAlign: "center", editor: true, formatter: "tickCross", formatterParams: {
                            tickElement: '<input type="checkbox" checked/>',
                            crossElement: '<input type="checkbox"/>',
                        }
                    }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
        });
    </script>
</body>
</html>
