﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <el-form ref="searchForm" :label-position="labelPosition" label-width="auto" :model="searchForm">
                <el-row :gutter="20">
                    <el-col :span="4">
                        <el-form-item label="員工編號">
                            <el-input v-model="searchForm.id"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="員工姓名">
                            <el-input v-model="searchForm.name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="所屬部門">
                            <el-select v-model="searchForm.dept" placeholder="請選擇">
                                <el-option v-for="item in deptOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="類別">
                            <el-select v-model="searchForm.type" placeholder="請選擇">
                                <el-option label="全部" value="%"></el-option>
                                <el-option label="本工" value="I"></el-option>
                                <el-option label="外包" value="O"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="使用狀態">
                            <el-select v-model="searchForm.act" placeholder="請選擇">
                                <el-option label="全部" value="%"></el-option>
                                <el-option label="啟用" value="Y"></el-option>
                                <el-option label="停用" value="N"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-row type="flex" justify="center">
                <el-col :span="6">
                    <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                </el-col>
            </el-row>
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                        <el-option v-for="item in pageOptions"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="2" class="my-auto w-auto">
                    <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                    <el-button type="primary" round plain size="small">列印</el-button>
                </el-col>
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-dialog :title="dialogTitle" top="1vh" :visible.sync="dialogFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :label-position="labelPosition" label-width="auto" :rules="rules" ref="form" size="mini">
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="員工代碼" prop="USER_ID">
                                <el-input v-model="form.USER_ID" :disabled="IDdisabled"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="員工名稱" prop="USER_NAME">
                                <el-input v-model="form.USER_NAME"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="所屬部門" prop="DEPART_ID">
                                <el-select class="w-100" v-model="form.DEPART_ID" placeholder="請選擇">
                                    <el-option v-for="item in deptOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="職位" prop="JOB_TITLE">
                                <el-select class="w-100" v-model="form.JOB_TITLE" placeholder="請選擇">
                                    <el-option v-for="item in jobTitleOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="類別" prop="USER_TYPE">
                                <el-select class="w-100" v-model="form.USER_TYPE" placeholder="請選擇">
                                    <el-option label="本工" value="I"></el-option>
                                    <el-option label="外包" value="O"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="性別" prop="USER_SEX">
                                <el-select class="w-100" v-model="form.USER_SEX" placeholder="請選擇">
                                    <el-option label="M-男" value="M"></el-option>
                                    <el-option label="F-女" value="F"></el-option>
                                    <el-option label="O-其他" value="O"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="電話" prop="TEL_NO">
                                <el-input v-model="form.TEL_NO"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="手機" prop="CELL_PHONE">
                                <el-input v-model="form.CELL_PHONE"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-form-item label="E-mail" prop="EMAIL">
                        <el-input v-model="form.EMAIL"></el-input>
                    </el-form-item>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="角色" prop="ROLE_ID">
                                <el-select class="w-100" multiple v-model="form.ROLE_ID" placeholder="請選擇">
                                    <el-option v-for="item in roleOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="使用狀態" prop="ACT_FG">
                                <el-select class="w-100" v-model="form.ACT_FG" placeholder="請選擇">
                                    <el-option label="啟用" value="Y"></el-option>
                                    <el-option label="停用" value="N"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="載運類別" prop="TRANS_TYPE">
                                <el-select class="w-100" v-model="form.TRANS_TYPE" placeholder="請選擇">
                                    <el-option label="SD" value="SD"></el-option>
                                    <el-option label="MD" value="MD"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="載運編號" prop="TRANS_CODE">
                                <el-input v-model="form.TRANS_CODE"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="啟用日期" prop="ACT_DATE">
                                <el-date-picker class="w-100" v-model="form.ACT_DATE"
                                                type="date"
                                                placeholder="選擇日期">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="離職日期" prop="VOID_DATE">
                                <el-date-picker class="w-100" v-model="form.VOID_DATE"
                                                type="date"
                                                placeholder="選擇日期">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-form-item label="備註" prop="REMARKS">
                        <el-input v-model="form.REMARKS"></el-input>
                    </el-form-item>
                    <el-row :gutter="20">
                        <el-col :span="8">
                            <el-form-item label="輸入新密碼" prop="USER_PWD">
                                <el-input v-model="form.USER_PWD" :disabled="IDdisabled" show-password></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="再次輸入新密碼" prop="USER_PWD_AGAIN">
                                <el-input v-model="form.USER_PWD_AGAIN" :disabled="IDdisabled" show-password></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="密碼到期日" prop="EXPIRE_DATE">
                                <el-date-picker class="w-100" v-model="form.EXPIRE_DATE"
                                                type="date"
                                                placeholder="選擇日期">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData;
            var vm = new Vue({
                el: '#app',
                data: {
                    searchForm: {
                        id: '',
                        name: '',
                        dept: '',
                        type: '',
                        act: ''
                    },
                    form: {
                        USER_ID: '',
                        USER_NAME: '',
                        USER_PWD: '',
                        USER_PWD_AGAIN: '',
                        USER_TYPE: '',
                        USER_SEX: '',
                        DEPART_ID: '',
                        JOB_TITLE: '',
                        TEL_NO: '',
                        CELL_PHONE: '',
                        TRANS_TYPE: '',
                        TRANS_CODE: '',
                        EMAIL: '',
                        ROLE_ID: [],
                        ACT_FG: '',
                        ACT_DATE: '',
                        VOID_DATE: '',
                        EXPIRE_DATE: '',
                        REMARKS: ''
                    },
                    rules: {
                        USER_ID: [
                            { required: true, message: '請輸入員工代碼', trigger: 'blur' }
                        ],
                        USER_NAME: [
                            { required: true, message: '請輸入員工名稱', trigger: 'blur' }
                        ],
                        DEPART_ID: [
                            { required: true, message: '請選擇部門', trigger: 'change' }
                        ],
                        USER_TYPE: [
                            { required: true, message: '請選擇類別', trigger:'change'}
                        ],
                        ROLE_ID: [
                            { required: true, message: '請選擇角色', trigger: 'change' }
                        ],
                        ACT_FG: [
                            { required: true, message: '請選擇狀態', trigger: 'change' }
                        ],
                        USER_PWD: [
                            {
                                validator: (rule, value, callback) => {
                                    if (!vm.IDdisabled) {
                                        if (value === '') {
                                            callback(new Error('請輸入密碼'));
                                        } else {
                                            if (vm.form.USER_PWD_AGAIN !== '') {
                                                vm.$refs.form.validateField('USER_PWD_AGAIN');
                                            }
                                        }
                                    }
                                    callback();
                                }, trigger: 'blur'}
                        ],
                        USER_PWD_AGAIN: [
                            {
                                validator: (rule, value, callback) => {
                                    if (!vm.IDdisabled) {
                                        if (vm.addOrEdit == 'add') {
                                            if (value === '') {
                                                callback(new Error('請再次輸入密碼'));
                                            } else if (value !== vm.form.USER_PWD) {
                                                callback(new Error('兩次輸入密碼不一致!'));
                                            }
                                        }
                                    }
                                    callback();
                                }, trigger: 'blur' }
                        ]
                    },
                    labelPosition: 'top',
                    deptOptions: [],
                    jobTitleOptions: [],
                    roleOptions:[],
                    pageOptions: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                        }],
                    pageValue: '',
                    dialogTitle: '新增使用者帳號',
                    dialogFormVisible: false,
                    IDdisabled: false,
                    addOrEdit:''
                },
                methods: {
                    onSearch() {
                        LoadTableData();
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    },
                    onAddClick(formName) {
                        this.IDdisabled = false;
                        this.addOrEdit = 'add';
                        this.dialogFormVisible = true;
                        this.dialogTitle = '新增使用者帳號';
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                    },
                    onEditClick(cell,formName) {
                        formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變
                        //補欄位讓VUE正常執行
                        formData.USER_PWD_AGAIN = '';

                        if (formData.ROLE_ID == null) {
                            formData.ROLE_ID = [];
                        } else {
                            formData.ROLE_ID = formData.ROLE_ID.split(','); //轉陣列
                            formData.ROLE_ID.pop();//移除最後空元素
                        }

                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                        this.addOrEdit = 'edit';
                        this.IDdisabled = true;
                        this.dialogFormVisible = true;
                        this.dialogTitle = '修改使用者資料';
                        //確實開啟dialog之後才把資料放上去->onBindData
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                var data = $.extend(true, {}, this.form);//深拷貝不讓原本form的值改變
                                data.ROLE_ID = data.ROLE_ID.join(',');
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")', data)
                                    .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('新增失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('新增成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                } else {
                                    axios.post('@Url.Action("Edit")', data)
                                        .then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('修改失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('修改成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        }
                                    });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                }
            });

            //取得部門下拉
            $.get({
                url: "@Url.Action("GetDeptOption")"
            }).done(function (result) {
                vm.deptOptions = result;
            });
            //取得職位下拉
            $.get({
                url: "@Url.Action("GetJobTitleOption")"
            }).done(function (result) {
                vm.jobTitleOptions = result;
            });
            //取得角色下拉
            $.get({
                url: "@Url.Action("GetRoleOption")"
            }).done(function (result) {
                vm.roleOptions = result;
            });

            //定義表格裡圖案
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };
            var delIcon = function (cell, formatterParams) {
                return "<i class='el-icon-delete-solid'></i>";
            };

            var editClick = function (e, cell) {
                vm.onEditClick(cell, 'form');
            };

            var delClick = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變
                vm.$confirm('確定刪除' + formData.USER_ID+'此使用者?', '提示', {
                    confirmButtonText: '確定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post('@Url.Action("Del")', { USER_ID: formData.USER_ID })
                        .then((res) => {
                            if (res == -1) {
                                vm.$alert('刪除失敗', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        LoadTableData();
                                    }
                                });
                            } else{
                                vm.$alert('刪除成功', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        LoadTableData();
                                    }
                                });
                            }
                    });
                }).catch(() => {

                });
            };

            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "USER_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "員工編號", field: "USER_ID", hozAlign: "center" },
                    { title: "姓名", field: "USER_NAME", hozAlign: "center" },
                    { title: "行動電話", field: "CELL_PHONE", hozAlign: "center" },
                    { title: "所屬部門", field: "DEPART_ID", hozAlign: "center" },
                    { title: "狀態", field: "ACT_FG", hozAlign: "center" },
                    { title: "職位", field: "JOB_TITLE", hozAlign: "center" },
                    { title: "類別", field: "USER_TYPE", hozAlign: "center" },
                    { title: "載運類別", field: "DEPT_LEVEL", hozAlign: "center"},
                    { title: "編號", field: "DEPT_STN", hozAlign: "center"},
                    { title: "密碼到期", field: "EXPIRE_DATE", hozAlign: "center"},
                    { title: "編輯", formatter: editIcon, hozAlign: "center", cellClick: editClick },
                    { title: "刪除", formatter: delIcon, hozAlign: "center", cellClick: delClick }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });

            function LoadTableData() {
                axios.get('@Url.Action("GetTableData")', {
                    params: vm.searchForm
                }).then(function (response) {
                    table.setData(response.data);
                }).catch(function (error) {
                });
            }
        });
    </script>
</body>
</html>
