﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="formblock" class="rounded-lg bg-white p-3">
            <el-form :label-position="labelPosition" label-width="80px" :model="searchForm">
                <el-row :gutter="20">
                    <el-col :span="4">
                        <el-form-item label="角色代號">
                            <el-input v-model="searchForm.id"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="角色名稱">
                            <el-input v-model="searchForm.name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="使用狀態">
                            <el-select v-model="searchForm.flag">
                                <el-option v-for="item in searchFlag"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            @if (ViewBag.Auth.CAN_SEARCH == "Y")
            {
                <el-row type="flex" justify="center">
                    <el-col :span="6" class="mt-auto mb-auto">
                        <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                    </el-col>
                </el-row>
            }
        </div>
        <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
            <el-row type="flex" justify="space-between">
                <el-col :span="6">
                    <el-select v-model="value" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                        <el-option v-for="item in options"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                @if (ViewBag.Auth.CAN_ADD == "Y")
                {
                    <el-col :span="2" class="my-auto w-auto">
                        <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                    </el-col>
                }
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-dialog :title="dialogTitle" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                       @@opened="onBindData()" center>
                <el-form :model="form" :rules="rules" ref="form" size="mini" label-width="auto">
                    <el-form-item label="角色代號" prop="ROLE_ID">
                        <el-input v-model="form.ROLE_ID" :disabled="IDdisabled"></el-input>
                    </el-form-item>
                    <el-form-item label="角色名稱" prop="ROLE_NAME">
                        <el-input v-model="form.ROLE_NAME"></el-input>
                    </el-form-item>
                    <el-form-item label="顯示順序" prop="DSP_ORD">
                        <el-input v-model="form.DSP_ORD"></el-input>
                    </el-form-item>
                    <el-form-item label="備註" prop="REMARKS">
                        <el-input v-model="form.REMARKS"></el-input>
                    </el-form-item>
                    <el-form-item label="狀態" prop="ACT_FG">
                        <el-select v-model="form.ACT_FG">
                            <el-option v-for="item in editFlag"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData; //儲存表單內容
            var vm = new Vue({
                el: '#app',
                data: {
                    labelPosition: 'top',
                    searchForm: {
                        id: '',
                        name: '',
                        flag: 'Y'
                    },
                    searchFlag: [{
                        value: 'Y',
                        label: '啟用'
                    }, {
                        value: 'N',
                        label: '停用'
                    }, {
                        value: '',
                        label: '全部'
                    }],
                    form: {
                        ROLE_ID: '',
                        ROLE_NAME: '',
                        DSP_ORD: '',
                        REMARKS: '',
                        ACT_FG: 'Y'
                    },
                    editFlag: [{
                        value: 'Y',
                        label: '啟用'
                    }, {
                        value: 'N',
                        label: '停用'
                    }],
                    rules: {
                        ROLE_ID: [
                            { required: true, message: '請輸入角色代號', trigger: 'blur' }
                        ],
                        ROLE_NAME: [
                            { required: true, message: '請輸入角色名稱', trigger: 'blur' }
                        ],
                        DSP_ORD: [
                            { required: true, message: '請輸入顯示順序', trigger:'blur'}
                        ],
                        ACT_FG: [
                            { required: true, message: '請選擇狀態', trigger: 'blur' }
                        ]
                    },
                    options: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                    }],
                    value: 25,
                    IDdisabled: false,
                    addOrEdit:'',
                    dialogFormVisible: false,
                    dialogTitle:'新增角色'
                },
                methods: {
                    onSearch() {
                        axios.get('@Url.Action("GetTableData")', {
                            params: {
                                ROLE_ID: vm.searchForm.id,
                                ROLE_NAME: vm.searchForm.name,
                                ACT_FG: vm.searchForm.flag
                            },
                            headers: { accessToken: localStorage.getItem('token') } 
                        }).then(function (response) {
                            table.setData(response.data);
                        }).catch(function (error) {
                        });
                    },
                    onAddClick(formName) {
                        this.IDdisabled = false;
                        this.addOrEdit = 'add';
                        this.dialogFormVisible = true;
                        this.dialogTitle = '新增角色';
                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")',
                                        this.form,
                                        { headers: { accessToken: localStorage.getItem('token') } }
                                    ).then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('新增失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    //停留在原地
                                                }
                                            });
                                        } else if (res.data == -2) {
                                            this.$alert('角色名稱重覆，不可儲存', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    //停留在原地
                                                }
                                            });
                                        } else {
                                            this.$alert('新增成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.$options.methods.onSearch();
                                                }
                                            });
                                        }
                                    });
                                } else {
                                    axios.post('@Url.Action("Edit")',
                                        this.form,
                                        { headers: { accessToken: localStorage.getItem('token') } }
                                    ).then((res) => {
                                        if (res.data == -1) {
                                            this.$alert('修改失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    //停留在原地
                                                }
                                            });
                                        } else if (res.data == -2) {
                                            this.$alert('角色名稱重覆，不可儲存', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    //停留在原地
                                                }
                                            });
                                        } else {
                                            this.$alert('修改成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    this.$options.methods.onSearch();
                                                }
                                            });
                                        }
                                    });
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    onSelectPage() {
                        table.setPageSize(this.value);
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    }
                }
            });
            //定義表格裡圖案
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };
            var flagText = function (cell, formatterParams) {
                if (cell.getValue() == 'Y') return '啟用';
                else return '停用';
            }

            var editClick = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                vm.addOrEdit = 'edit';
                vm.IDdisabled = true;
                vm.dialogFormVisible = true;
                vm.dialogTitle = '編輯名稱與狀態';
                //確實開啟dialog之後才把資料放上去->onBindData
            }

            var roleClick = function (e, cell) {
                var data = cell.getRow().getData();
                window.location.href = '@Url.Action("Setting")?ROLE_ID=' + data.ROLE_ID + '&ROLE_NAME=' + data.ROLE_NAME;
            }

            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "FUNC_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "項次", formatter: "rownum", hozAlign: "center" },
                    { title: "角色代號", field: "ROLE_ID", hozAlign: "center" },
                    { title: "角色名稱", field: "ROLE_NAME", hozAlign: "center" },
                    { title: "狀態", field: "ACT_FG", formatter: flagText, hozAlign: "center" },
                    { title: "設定權限", field: "editRole", formatter: editIcon, hozAlign: "center", cellClick: roleClick },
                    { title: "編輯名稱", field: "editName", formatter: editIcon, hozAlign: "center", cellClick: editClick }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
            table.on("tableBuilt", function () {
                //編輯權限
                if ('@ViewBag.Auth.CAN_MODIFY' == 'N') {
                    table.hideColumn('editRole');
                    table.hideColumn('editName');
                }
            });
        });
    </script>
</body>
</html>
