﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <div id="datablock" style="width:100%;border-radius:15px;background-color:#ffffff;">
            <el-row :gutter="20">
                <el-col :span="2">角色名稱</el-col>
                <el-col :span="2">@ViewBag.Name</el-col>
                <el-col :span="1" :offset="18" class="mt-auto mb-auto">
                    <el-button type="primary" @@click="dialogFormVisible=true" round plain size="small">複製</el-button>
                </el-col>
            </el-row>

            <div id="table" class="mt-4"></div>

            <el-row type="flex" justify="center" class="mt-4">
                <el-col :span="4">
                    <el-button @@click="onBack()">不存檔/回上頁</el-button>
                    <el-button type="primary" @@click="onSubmit()">儲存修改</el-button>
                </el-col>
            </el-row>

            <el-dialog title="將角色[@ViewBag.Name]功能權限複製到" width="30%" top="1vh" :visible.sync="dialogFormVisible" center>
                <el-form :model="form" :rules="rules" ref="form" size="mini" label-width="auto">
                    <el-form-item label="角色代號" prop="ROLE_ID">
                        <el-input v-model="form.ROLE_ID"></el-input>
                    </el-form-item>
                    <el-form-item label="角色名稱" prop="ROLE_NAME">
                        <el-input v-model="form.ROLE_NAME"></el-input>
                    </el-form-item>
                    <el-form-item label="顯示順序" prop="DSP_ORD">
                        <el-input v-model="form.DSP_ORD"></el-input>
                    </el-form-item>
                    <el-form-item label="備註" prop="REMARKS">
                        <el-input v-model="form.REMARKS"></el-input>
                    </el-form-item>
                    <el-form-item label="狀態" prop="ACT_FG">
                        <el-select v-model="form.ACT_FG">
                            <el-option v-for="item in editFlag"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @@click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @@click="onCopySubmit('form')">確定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        $(function () {
            var formData; //儲存表單內容
            var vm = new Vue({
                el: '#app',
                data: {
                    form: {
                        ROLE_ID: '',
                        ROLE_NAME: '',
                        DSP_ORD: '',
                        REMARKS: '',
                        ACT_FG: 'Y'
                    },
                    editFlag: [{
                        value: 'Y',
                        label: '啟用'
                    }, {
                        value: 'N',
                        label: '停用'
                    }],
                    rules: {
                        ROLE_ID: [
                            { required: true, message: '請輸入角色代號', trigger: 'blur' }
                        ],
                        ROLE_NAME: [
                            { required: true, message: '請輸入角色名稱', trigger: 'blur' }
                        ],
                        DSP_ORD: [
                            { required: true, message: '請輸入顯示順序', trigger: 'blur' }
                        ],
                        ACT_FG: [
                            { required: true, message: '請選擇狀態', trigger: 'blur' }
                        ]
                    },
                    dialogFormVisible: false
                },
                methods: {
                    onBack() {
                        window.history.back();
                    },
                    onSubmit() {
                        var table = Tabulator.findTable('#table')[0];
                        var data = table.getData();
                        axios.post('@Url.Action("SaveSetting")',
                            { ROLE_ID: '@ViewBag.Id', data: data },
                            { headers: { accessToken: localStorage.getItem('token') } }
                        ).then((res) => {
                            if (res.data == -1) {
                                this.$alert('儲存失敗', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        //留在原地
                                    }
                                });
                            } else {
                                this.$alert('儲存成功', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        this.onBack();
                                    }
                                });
                            }
                        });
                    },
                    onCopySubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                axios.post('@Url.Action("Copy")',
                                    { ROLE_ID: '@ViewBag.Id', form: this.form },
                                    { headers: { accessToken: localStorage.getItem('token') } }
                                ).then((res) => {
                                    if (res.data == -1) {
                                        this.$alert('複製失敗', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else if (res.data == -2) {
                                        this.$alert('角色名稱重覆，不可儲存', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else {
                                        this.$alert('複製成功', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.onBack();
                                            }
                                        });
                                    }
                                });
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                }
            });
            function ckParams(cell) {
                //如果是第一階層，則不會有勾選框
                if (cell.getRow().getData().PARENT == '0000') {
                    return {
                        tickElement: '',
                        crossElement: '',
                    };
                }
                if (cell.getValue() == null || cell.getValue() == 'N') {
                    cell.setValue(false);
                } else if (cell.getValue() == 'Y') {
                    cell.setValue(true);
                }
                //CAN_RUN 對應 SET_RUN
                var col = cell.getField().replace('CAN', 'SET');
                var set = cell.getRow().getData()[col];
                if (set == 'Y') {
                    return {
                        tickElement: '<input type="checkbox" checked/>',
                        crossElement: '<input type="checkbox"/>',
                    };
                } else {
                    if (cell.getValue()) {
                        cell.setValue(false);
                    }
                    return {
                        tickElement: '<input type="checkbox" disabled/>',
                        crossElement: '<input type="checkbox" disabled/>',
                    };
                }
            }
            function ckParams_All(cell) {
                //如果是第一階層，則不會有勾選框
                if (cell.getRow().getData().PARENT == '0000') {
                    return {
                        tickElement: '',
                        crossElement: '',
                    };
                }
                //處理全選的功能
                var ck = cell.getValue();
                if (cell.getValue() != null) {
                    cell.getRow().getCell('CAN_RUN').setValue(ck);
                    cell.getRow().getCell('CAN_SEARCH').setValue(ck);
                    cell.getRow().getCell('CAN_ADD').setValue(ck);
                    cell.getRow().getCell('CAN_MODIFY').setValue(ck);
                    cell.getRow().getCell('CAN_DEL').setValue(ck);
                    cell.getRow().getCell('CAN_PRINT').setValue(ck);
                }
                return {
                    tickElement: '<input type="checkbox" checked />',
                    crossElement: '<input type="checkbox" />',
                };
            }
            function ckEdit(cell) {
                //如果是第一階層，則不會有勾選框
                if (cell.getRow().getData().PARENT == '0000') {
                    return false;
                }
                var col = cell.getField().replace('CAN', 'SET');
                var set = cell.getRow().getData()[col];
                if (set == 'Y') {
                    return true;
                } else {
                    return false;
                }
            }
            function ckEdit_All(cell) {
                //如果是第一階層(ID後三碼是000)，則不會有勾選框
                if (cell.getRow().getData().FUNC_ID.substring(1, 4) == '000') {
                    return false;
                } else {
                    return true;
                }
            }

            //全選目前的想法是倒資料
            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: false,       //paginate the data
                movableColumns: true,      //allow column order to be changed
                dataTree: true,
                dataTreeStartExpanded: true,
                initialSort: [             //set the initial sort order of the data
                    { column: "FUNC_ID", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "功能名稱", field: "FUNC_DESC", hozAlign: "left" },
                    { title: "執行", field: "CAN_RUN", hozAlign: "center", editor: true, editable: ckEdit, formatter: "tickCross", formatterParams: ckParams },
                    { title: "查詢", field: "CAN_SEARCH", hozAlign: "center", editor: true, editable: ckEdit, formatter: "tickCross", formatterParams: ckParams },
                    { title: "新增", field: "CAN_ADD", hozAlign: "center", editor: true, editable: ckEdit, formatter: "tickCross", formatterParams: ckParams },
                    { title: "編輯", field: "CAN_MODIFY", hozAlign: "center", editor: true, editable: ckEdit, formatter: "tickCross", formatterParams: ckParams },
                    { title: "作廢", field: "CAN_DEL", hozAlign: "center", editor: true, editable: ckEdit, formatter: "tickCross", formatterParams: ckParams },
                    { title: "列印", field: "CAN_PRINT", hozAlign: "center", editor: true, editable: ckEdit, formatter: "tickCross", formatterParams: ckParams },
                    { title: "全選", field: null, hozAlign: "center", editor: true, editable: ckEdit_All, formatter: "tickCross", formatterParams: ckParams_All }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });
            table.on("tableBuilt", function () {//在完成table時載入一次
                axios.get('@Url.Action("GetSettingTableData")', {
                    params: { ROLE_ID: '@ViewBag.Id' },
                    headers: { accessToken: localStorage.getItem('token') }
                }).then(function (response) {
                    table.setData(response.data);
                }).catch(function (error) {
                });
            });

        });
    </script>
</body>
</html>
