﻿@model BAL.Model.BaseOrder.OrderAddModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>

    <style>

        .wrap { /*父元素*/
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-between;
        }

        .left {
            /*background: red;*/
            width: 70%;
            height: 200px;
        }

        .right {
            /*background: blue;*/
            width: 30%;
            height: 200px;
        }
    </style>
</head>
<body style="background-color: #f4f6fc !important;">

    <div id="app">

        <el-col :span="3">
            <el-upload action="@Url.Action("UploadFile")"
                       :on-success="onUploadSuccess"
                       :file-list="fileList"
                       :show-file-list="false">
                <el-button size="small" type="primary">批次上傳</el-button>
            </el-upload>
        </el-col>
        <el-col :span="3">
            <el-button type="primary" size="small" @@click="onDownload">下載空白訂單</el-button>
        </el-col>

        <div class="wrap">
            <div class="left">
                <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
                    <el-form :model="form" :label-position="labelPosition" label-width="auto" :rules="rules" ref="form" size="mini">
                        <el-row :gutter="20">
                            <el-col :span="8">
                                <el-form-item label="收件人" prop="ReceiveContact">
                                    <el-input v-model="form.ReceiveContact"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="收件人電話1" prop="ReceiveTel1">
                                    <el-input v-model="form.ReceiveTel1"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="收件人電話2" prop="ReceiveTel2">
                                    <el-input v-model="form.ReceiveTel2"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row >
                            <el-col :span="4">
                                <el-form-item label="收件人縣市">
                                    <el-select v-model="form.ReceiveCity" @@change="onReceiveCityChange" clearable placeholder="請選擇">
                                        <el-option v-for="item in ReceiveCityOptions"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="收件人鄉鎮市區">
                                    <el-select v-model="form.ReceiveArea" clearable placeholder="請選擇">
                                        <el-option v-for="item in ReceiveAreaOptions"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="16">
                                <el-form-item label="收件人地址" prop="ReceiveAddress">
                                    <el-input v-model="form.ReceiveAddress"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="20">
                            <el-col :span="8">
                                <el-form-item label="寄件人" prop="SendContact">
                                    <el-input v-model="form.SendContact"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="寄件人電話1" prop="SendTel1">
                                    <el-input v-model="form.SendTel1"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="寄件人電話2" prop="SendTel2">
                                    <el-input v-model="form.SendTel2"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="4">
                                <el-form-item label="寄件人縣市">
                                    <el-select v-model="form.SendCity" @@change="onSendCityChange" clearable placeholder="請選擇">
                                        <el-option v-for="item in SendCityOptions"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="寄件人鄉鎮市區">
                                    <el-select v-model="form.SendArea" clearable placeholder="請選擇">
                                        <el-option v-for="item in SendAreaOptions"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="16">
                                <el-form-item label="寄件人地址" prop="SendAddress">
                                    <el-input v-model="form.SendAddress"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="8">
                                <el-form-item label="付款方式" prop="PaymentMethod">
                                    <el-select class="w-100" v-model="form.PaymentMethod" placeholder="請選擇">
                                        <el-option v-for="item in PaymentMethodOptions"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="代收貨款" prop="CollectionMoney">
                                    <el-input v-model="form.CollectionMoney"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="派送時段" prop="TimePeriod">
                                    <el-select class="w-100" v-model="form.TimePeriod" placeholder="請選擇">
                                        <el-option v-for="item in TimePeriodOptions"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="8">
                                <el-form-item label="產品編號" prop="ArticleNumber">
                                    <el-input v-model="form.ArticleNumber"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="出貨平台" prop="SendPlatform">
                                    <el-input v-model="form.SendPlatform"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="品名" prop="ArticleName">
                                    <el-input v-model="form.ArticleName"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="20">
                            <el-col :span="24">
                                <el-form-item label="備註" prop="InvoiceDesc">
                                    <el-input type="textarea" :rows="5" v-model="form.InvoiceDesc"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="訂單類別" prop="DeliveryMethod">
                                    <el-select class="w-100" v-model="form.DeliveryMethod" placeholder="請選擇">
                                        <el-option v-for="item in DeliveryMethodOptions"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="預計抵達日" prop="Arriveassigndate">
                                    <el-date-picker class="w-100" v-model="form.Arriveassigndate"
                                                    type="date"
                                                    placeholder="選擇日期">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="" prop="ReceiptFlag">
                                    <el-checkbox v-model="form.ReceiptFlag">回單</el-checkbox>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-button @@click="add()">新增貨物</el-button>總共{{this.form.OrderGoods.length}}件貨 預設為S90

                        <el-row>
                            <div v-for="(item,index) in form.OrderGoods" class="agent-vlist">

                                <el-row>
                                    <el-col :span="1">
                                        <label>第{{(index+1)}}件 才積</label>

                                    </el-col>
                                    <el-col :span="12">
                                        <el-select class="w-100" v-model="item.CbmSize" placeholder="請選擇">
                                            <el-option v-for="item in CbmSizeOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>

                                    </el-col>
                                    <el-col :span="5">

                                        <el-button @@click="delet(index)">移除</el-button>

                                    </el-col>
                                </el-row>
                            </div>
                    </el-form>




                    <div slot="footer" class="text-right">
                        @*  <el-button @@click="dialogFormVisible = false">取消</el-button>*@

                        <el-button type="primary" round plain @@click="onAddClick('form')">新增</el-button>
                        @*<el-button type="primary" @@click="onSubmit('form')">確定</el-button>*@
                    </div>

                </div>


            </div>
            <div class="right">


                <el-row type="flex" justify="space-between">
                    <el-col :span="6">
                        <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                            <el-option v-for="item in pageOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-col>

                    <el-col :span="2" class="my-auto w-auto">
                        <el-button type="primary" round plain size="small">列印</el-button>
                    </el-col>
                </el-row>



                @*<el-col :span="2" class="my-auto w-auto">
                        <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                         <el-button type="primary" round plain size="small">列印</el-button>
                        </el-col>

                    </el-row>*@


                <el-row>

                    <div id="table" class="mt-4"></div>
                </el-row>

            </div>
        </div>







    </div>
    <script>

        Date.prototype.addDays = function (days) {
            this.setDate(this.getDate() + days);
            return this;
        }

        $(function () {
            var formData;
            var today = new Date();
            var yesterday = (new Date()).addDays(-1);
            var vm = new Vue({
                el: '#app',
                data: {
                    searchForm: {
                        OrderId: '',

                        ExcelImport:''

                    },
                    form: {
                        ReceiveContact: '',
                        ReceiveTel1: '',
                        ReceiveTel2: '',
                        ReceiveCity: '',
                        ReceiveArea: '',
                        ReceiveAddress: '',
                        SendContact: '',
                        SendTel1: '',
                        SendTel2: '',
                        SendCity: '',
                        SendArea: '',
                        SendAddress: '',
                        PaymentMethod: '1',
                        CollectionMoney: '0',
                        Arriveassigndate: new Date(),
                        TimePeriod: '0',
                        InvoiceDesc: '',
                        ArticleNumber: '',
                        SendPlatform: '',
                        ArticleName: '',
                        DeliveryMethod: '1',
                        ReceiptFlag: false,
                        OrderGoods:
                            [
                                {
                                    CbmSize: '2'
                                }
                            ]
                    },
                    rules: {

                    },
                    labelPosition: 'top',
                    PaymentMethodOptions: [],
                    TimePeriodOptions: [],
                    DeliveryMethodOptions: [],
                    CbmSizeOptions: [],
                    ReceiveCityOptions: [],
                    ReceiveAreaOptions: [],
                    SendCityOptions: [],
                    SendAreaOptions: [],
                    fileList: [],
                    pageOptions: [{
                        value: 25,
                        label: '一頁顯示25筆資料'
                    }, {
                        value: 50,
                        label: '一頁顯示50筆資料'
                    }, {
                        value: 100,
                        label: '一頁顯示100筆資料'
                    }, {
                        value: 200,
                        label: '一頁顯示200筆資料'
                        }],
                    pageValue: '',
                    dialogTitle: '新增訂單',
                    dialogFormVisible: false,
                    IDdisabled: false,
                    addOrEdit: ''

                },
                methods: {

                    add() {
                        let OrderGood=
                            {
                                CbmSize: '2'
                        }
                        this.form.OrderGoods.push(OrderGood)


                    },
                    delet(index) {
                        this.form.OrderGoods.splice(index, 1)
                    },

                    onSearch() {
                        LoadTableData();
                    },
                    onBindData() {
                        if (this.addOrEdit == "edit") {
                            this.$nextTick(() => {
                                this.form = formData;
                            });
                        }
                    },
                    onAddClick(formName) {
                        //this.IDdisabled = false;
                        //this.addOrEdit = 'add';
                        //this.dialogFormVisible = true;
                        //this.dialogTitle = '新增訂單';
                        //if (this.$refs[formName] !== undefined) {
                        //    this.$nextTick(() => {
                        //        this.$refs[formName].resetFields();
                        //    });
                        //}
                        var data = $.extend(true, {}, this.form);//深拷貝不讓原本form的值改變
                        axios.post('@Url.Action("Add")', data)
                                        .then((res) => {
                                            if (res.data.error != null) {
                                                alert(res.data.error);
                                            } else
                                            {
                                                if (res.data == -1) {
                                                    this.$alert('新增失敗', '提示', {
                                                        confirmButtonText: '確定',
                                                        callback: action => {
                                                         //   this.dialogFormVisible = false;
                                                            LoadTableData();
                                                        }
                                                    });
                                                } else {
                                                    this.$alert('新增成功', '提示', {
                                                        confirmButtonText: '確定',
                                                        callback: action => {
                                                         //   this.dialogFormVisible = false;

                                                            this.searchForm.OrderId = res.data.OrderId;
                                                            LoadTableData();
                                                            this.searchForm.OrderId =''
                                                        }
                                                    });
                                                }
                                            }

                                    }).catch((error) => {

                                        //if (error.response) {
                                        //    // 當狀態碼不在 validateStatus 設定的範圍時進入
                                        //    // 有 data / status / headers 參數可用
                                        //    console.log(error.response.data)

                                        //} else if (error.request) {
                                        //    // 發送請求，但沒有接到回應
                                        //    // error.request is an instance of XMLHttpRequest in the browser
                                        //    // and an instance of http.ClientRequest in node.js
                                        //    console.log(error.request)
                                        //} else {
                                        //    // 在設定 request 時出錯會進入此
                                        //    console.log('Error', error.message)
                                        //}
                                        alert("系統異常");
                                    });
                    },
                    onEditClick(cell,formName) {
                        formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                        if (this.$refs[formName] !== undefined) {
                            this.$nextTick(() => {
                                this.$refs[formName].resetFields();
                            });
                        }
                        this.addOrEdit = 'edit';
                        this.IDdisabled = true;
                        this.dialogFormVisible = true;
                        this.dialogTitle = '修改使用者資料';
                        //確實開啟dialog之後才把資料放上去->onBindData
                    },
                    onUploadSuccess(res, file, fileList) {

                        if (res.error != null)
                        {
                            this.$alert(res.error, '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    fileList = [];
                                }
                            });
                        } else {

                            this.$alert('成功' + res.SuccessCount + '筆' + '<br/>' + '失敗' + res.FailCount + '筆' + '<br/>' + res.ErrorMessage, '提示', {
                                confirmButtonText: '確定',
                                dangerouslyUseHTMLString: true,
                                lockScroll: true,
                                callback: action => {

                                    this.searchForm.ExcelImport = res.ExcelImport
                                    LoadTableData();
                                    this.searchForm.ExcelImport=''
                                    fileList = [];
                                }
                            });

                        }

                    },  onDownload() {
                        window.location = "@Url.Action("DownloadFile")";
                    },
                    onReceiveCityChange(val) {
                        axios.get('@Url.Action("GetAreaOption")', {
                            params: { City: val }
                        }).then(function (response) {
                            vm.form.ReceiveArea = ''
                            if (response.data == '') {
                                vm.ReceiveAreaOptions = [];
                            } else {
                                vm.ReceiveAreaOptions = response.data;
                                vm.form.ReceiveArea = response.data[0].value;
                            }
                        }).catch(function (error) {
                        });
                    },
                    onSendCityChange(val) {
                        axios.get('@Url.Action("GetAreaOption")', {
                            params: { City: val }
                        }).then(function (response) {
                            vm.form.SendArea = ''
                            if (response.data == null) {
                                vm.SendAreaOptions = [];
                            } else {
                                vm.SendAreaOptions = response.data;
                                vm.form.SendArea = response.data[0].value;
                            }
                        }).catch(function (error) {
                        });
                    },
                    onSubmit(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                var data = $.extend(true, {}, this.form);//深拷貝不讓原本form的值改變
                                //data.ROLE_ID = data.ROLE_ID.join(',');
                                if (this.addOrEdit == "add") {
                                    axios.post('@Url.Action("Add")', data)
                                        .then((res) => {
                                            if (res.data.error != null) {
                                                alert(res.data.error);
                                            } else
                                            {
                                                if (res.data == -1) {
                                                    this.$alert('新增失敗', '提示', {
                                                        confirmButtonText: '確定',
                                                        callback: action => {
                                                            LoadTableData();
                                                        }
                                                    });
                                                } else {
                                                    this.$alert('新增成功', '提示', {
                                                        confirmButtonText: '確定',
                                                        callback: action => {

                                                            this.searchForm.OrderId = res.data.OrderId;
                                                            LoadTableData();
                                                        }
                                                    });
                                                }
                                            }

                                    }).catch((error) => {

                                        //if (error.response) {
                                        //    // 當狀態碼不在 validateStatus 設定的範圍時進入
                                        //    // 有 data / status / headers 參數可用
                                        //    console.log(error.response.data)

                                        //} else if (error.request) {
                                        //    // 發送請求，但沒有接到回應
                                        //    // error.request is an instance of XMLHttpRequest in the browser
                                        //    // and an instance of http.ClientRequest in node.js
                                        //    console.log(error.request)
                                        //} else {
                                        //    // 在設定 request 時出錯會進入此
                                        //    console.log('Error', error.message)
                                        //}
                                        alert("系統異常");
                                    });
                                } else {
                                    axios.post('@Url.Action("Edit")', data)
                                        .then((res) => {

                                        if (res.data == -1) {
                                            this.$alert('修改失敗', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        } else {
                                            this.$alert('修改成功', '提示', {
                                                confirmButtonText: '確定',
                                                callback: action => {
                                                    this.dialogFormVisible = false;
                                                    LoadTableData();
                                                }
                                            });
                                        }
                                        })
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                }
            });

             //取得付款方式下拉
            $.get({
                url: "@Url.Action("GetPaymentMethodOption")"
            }).done(function (result) {
                vm.PaymentMethodOptions = result;
            });
               //取得派送時段下拉
            $.get({
                url: "@Url.Action("GetTimePeriodOption")"
            }).done(function (result) {
                vm.TimePeriodOptions = result;
            });

                 //取得訂單類別下拉
            $.get({
                url: "@Url.Action("GetDeliveryMethodOption")"
            }).done(function (result) {
                vm.DeliveryMethodOptions = result;
            });

                 //取得物品才積選項
            $.get({
                url: "@Url.Action("GetCbmSizeOption")"
            }).done(function (result) {
                vm.CbmSizeOptions = result;
            });

            //取得收件人縣市下拉選項
            axios.get('@Url.Action("GetCityOption")', {
                headers: {
                    accessToken: localStorage.getItem('token')
                }
            }).then(function (response) {
                vm.ReceiveCityOptions = response.data;
                vm.SendCityOptions = response.data;

            }).catch(function (error) {
            });



            //定義表格裡圖案
            var editIcon = function (cell, formatterParams) {
                return "<i class='el-icon-edit'></i>";
            };
            var delIcon = function (cell, formatterParams) {
                return "<i class='el-icon-delete-solid'></i>";
            };

            var editClick = function (e, cell) {
                vm.onEditClick(cell, 'form');
            };

            var delClick = function (e, cell) {
                formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變
                vm.$confirm('確定刪除' + formData.USER_ID+'此使用者?', '提示', {
                    confirmButtonText: '確定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post('@Url.Action("Del")', { USER_ID: formData.USER_ID })
                        .then((res) => {
                            if (res == -1) {
                                vm.$alert('刪除失敗', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        LoadTableData();
                                    }
                                });
                            } else{
                                vm.$alert('刪除成功', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        LoadTableData();
                                    }
                                });
                            }
                    });
                }).catch(() => {

                });
            };

            var table = new Tabulator("#table", {
                locale: "zh-tw",
                layout: "fitColumns",      //fit columns to width of table
                height: "100%", //do not let table get bigger than the height of its parent element
                pagination: "local",       //paginate the data
                paginationSize: 25,         //allow 20 rows per page of data
                movableColumns: true,      //allow column order to be changed
                initialSort: [             //set the initial sort order of the data
                    { column: "CreateDate", dir: "asc" },
                ],
                columns: [                 //define the table columns
                    { title: "訂單編號", field: "OrderId", hozAlign: "center" },
                    { title: "建立時間", field: "CreateDate", hozAlign: "center" }
                ],
                langs: {
                    "zh-tw": {
                        "pagination": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "prev": "上一頁",
                            "next": "下一頁"
                        }
                    }
                },
            });

            function LoadTableData() {
                axios.post('@Url.Action("GetTableData")', vm.searchForm)
                    .then(function (res) {

                    if (res.data.error != null) {
                        alert(res.data.error);
                    } else {
                        table.setData(res.data);
                    }
                }).catch(function (error) {
                });
            }
        });
    </script>
</body>
</html>
