﻿@model List<FSE_WEB.Models.HomeModel.Menu>
@{
    Layout = null;
    int countIndex = 1;
}
<el-menu default-active="1"
         @@select="handleSelect"
         @@open="handleOpen"
         @@close="handleClose">

    @foreach (var item in Model)
    {
        if (item.FUNC_LEVEL == "PARENT")
        {
            if (countIndex != 1)
            {
                @Html.Raw("</el-submenu>");
            }
            @Html.Raw(string.Format(@"<el-submenu index='{0}'>
                            <template slot='title'>
                                <span>{1}</span>
                            </template>", countIndex, item.FUNC_DESC));
            countIndex++;
        }
        else
        {
            <el-menu-item index="@item.URL_ADDR|@item.TAB_TITLE">@item.FUNC_DESC</el-menu-item>
        }
    }
</el-menu>