﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body style="background-color: #f4f6fc !important;">
    <div id="app">
        <transition name="el-fade-in">
            <section v-show="showMain" class="position-absolute w-100">
                <div id="formblock" class="rounded-lg bg-white p-3">
                    <el-form :label-position="labelPosition" label-width="80px" :model="searchForm">
                        <el-row :gutter="20">
                            <el-col :span="4">
                                <el-form-item label="客戶代碼">
                                    <el-input v-model="searchForm.CUST_CODE"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="客戶名稱">
                                    <el-input v-model="searchForm.CHI_NAME"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="統編">
                                    <el-input v-model="searchForm.CUST_ID"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="集團代號">
                                    <el-input v-model="searchForm.CUST_GROUP"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    @if (ViewBag.Auth.CAN_SEARCH == "Y")
                    {
                        <el-row type="flex" justify="center">
                            <el-col :span="6">
                                <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                            </el-col>
                        </el-row>
                    }
                </div>
                <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
                    <el-row type="flex" justify="space-between">
                        <el-col :span="6">
                            <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                                <el-option v-for="item in pageOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        @if (ViewBag.Auth.CAN_ADD == "Y")
                        {
                            <el-col :span="2" class="my-auto w-auto">
                                <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                            </el-col>
                        }
                    </el-row>

                    <div id="table" class="mt-4"></div>

                    <el-dialog title="客戶資料管理" top="1vh" :visible.sync="dialogFormVisible"
                               @@opened="onBindData()" center>
                        <el-form :model="form" :rules="rules" ref="form" size="mini" :label-position="labelPosition" label-width="auto">
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="客戶代碼" prop="CUST_CODE">
                                        <el-input v-model="form.CUST_CODE" :disabled="IDdisabled"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="客戶名稱" prop="CHI_NAME">
                                        <el-input v-model="form.CHI_NAME"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="統編" prop="CUST_ID">
                                        <el-input v-model="form.CUST_ID"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="簡稱" prop="BRF_NAME">
                                        <el-input v-model="form.BRF_NAME"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="縣市" prop="CHI_CITY">
                                        <el-select class="w-100" v-model="form.CHI_CITY" @@change="onCityChange($event,false)" placeholder="請選擇">
                                            <el-option v-for="item in cityOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="發票-縣市" prop="INV_CITY">
                                        <el-select class="w-100" v-model="form.INV_CITY" @@change="onCityChange($event,true)" placeholder="請選擇">
                                            <el-option v-for="item in cityOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="鄉鎮區(市)" prop="CHI_AREA">
                                        <el-select class="w-100" v-model="form.CHI_AREA" placeholder="請選擇" no-data-text="無選項">
                                            <el-option v-for="item in areaOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="發票-鄉鎮區(市)" prop="INV_AREA">
                                        <el-select class="w-100" v-model="form.INV_AREA" placeholder="請選擇" no-data-text="無選項">
                                            <el-option v-for="item in areaInvOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="地址" prop="CHI_ADDR">
                                        <el-input v-model="form.CHI_ADDR"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="發票-地址" prop="INV_ADDR">
                                        <el-input v-model="form.INV_ADDR"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="集團代碼" prop="CUST_GROUP">
                                        <el-input v-model="form.CUST_GROUP"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="電話1" prop="TEL_NO1">
                                        <el-input v-model="form.TEL_NO1"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="電話2" prop="TEL_NO2">
                                        <el-input v-model="form.TEL_NO2"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="傳真" prop="FAX_NO">
                                        <el-input v-model="form.FAX_NO"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="聯絡人" prop="CONTACT">
                                        <el-input v-model="form.CONTACT"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col>
                                    <el-form-item label="電子郵件清單" prop="EMAIL_LIST">
                                        <el-input v-model="form.EMAIL_LIST"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="銀行代碼" prop="BANK_ID">
                                        <el-select class="w-100" v-model="form.BANK_ID" @@change="onBankChange($event)" placeholder="請選擇" no-data-text="無選項">
                                            <el-option v-for="item in bankOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="銀行分行" prop="BANK_BRANCH">
                                        <el-select class="w-100" v-model="form.BANK_BRANCH" placeholder="請選擇" no-data-text="無選項">
                                            <el-option v-for="item in branchOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="銀行帳號" prop="BANK_ACCT">
                                        <el-input v-model="form.BANK_ACCT"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="帳戶名稱" prop="BANK_CUST">
                                        <el-input v-model="form.BANK_CUST"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="開發站所" prop="DVLP_DEPT">
                                        <el-select class="w-100" v-model="form.DVLP_DEPT" placeholder="請選擇" no-data-text="無選項">
                                            <el-option v-for="item in deptOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="啟用/停用" prop="ACT_FG">
                                        <el-radio-group v-model="form.ACT_FG">
                                            <el-radio label="Y">Yes</el-radio>
                                            <el-radio label="N">No</el-radio>
                                        </el-radio-group>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-form-item label="備註" prop="REMARKS">
                                        <el-input v-model="form.REMARKS"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click="dialogFormVisible = false">取消</el-button>
                            <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                        </div>
                    </el-dialog>
                </div>
            </section>
        </transition>
    </div>
    <div id="app_prod">
        <transition name="el-fade-in">
            <section v-show="showProd" class="position-absolute w-100">
                <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
                    <el-row type="flex" justify="space-between">
                        <el-col :span="6">
                            <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                                <el-option v-for="item in pageOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="2" class="my-auto w-auto">
                            @if (ViewBag.Auth.CAN_ADD == "Y")
                            {
                                <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                            }
                            <el-button type="primary" round plain @@click="onBack()" size="small">返回</el-button>
                        </el-col>
                    </el-row>

                    <div id="table_prod" class="mt-4"></div>

                    <el-dialog title="維護可用產品" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                               center>
                        <el-form :model="form" :rules="rules" ref="form" size="mini" :label-position="labelPosition" label-width="auto">
                            <el-form-item label="產品代碼" prop="PROD_ID">
                                <el-select class="w-100" v-model="form.PROD_ID" placeholder="請選擇" no-data-text="無選項">
                                    <el-option v-for="item in prodOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click="dialogFormVisible = false">取消</el-button>
                            <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                        </div>
                    </el-dialog>
                </div>
            </section>
        </transition>
    </div>
    <div id="app_user">
        <transition name="el-fade-in">
            <section v-show="showUser" class="position-absolute w-100">
                <el-row type="flex" justify="end" class="mb-2">
                    <el-col class="my-auto w-auto text-right">
                        <el-button type="primary" round plain @@click="onBack()" size="small">返回</el-button>
                    </el-col>
                </el-row>
                <div id="formblock" class="rounded-lg bg-white p-3">
                    <el-form :label-position="labelPosition" label-width="80px" :model="searchForm" ref="searchForm">
                        <el-row :gutter="20">
                            <el-col :span="4">
                                <el-form-item label="login ID" prop="USER_CODE">
                                    <el-input v-model="searchForm.USER_CODE"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="使用者名稱" prop="USER_NAME">
                                    <el-input v-model="searchForm.USER_NAME"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="使用狀態" prop="ACT_FG">
                                    <el-select v-model="searchForm.ACT_FG" placeholder="請選擇">
                                        <el-option label="全部" value="%"></el-option>
                                        <el-option label="啟用" value="Y"></el-option>
                                        <el-option label="停用" value="N"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    @if (ViewBag.Auth.CAN_SEARCH == "Y")
                    {
                        <el-row type="flex" justify="center">
                            <el-col :span="6">
                                <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                            </el-col>
                        </el-row>
                    }
                </div>
                <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
                    <el-row type="flex" justify="space-between">
                        <el-col :span="6">
                            <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                                <el-option v-for="item in pageOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="2" class="my-auto w-auto">
                            @if (ViewBag.Auth.CAN_ADD == "Y")
                            {
                                <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                            }
                        </el-col>
                    </el-row>

                    <div id="table_user" class="mt-4"></div>

                    <el-dialog title="使用者資料管理" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                               @@opened="onBindData()" center>
                        <el-form :model="form" :rules="rules" ref="form" size="mini" :label-position="labelPosition" label-width="auto">
                            <el-form-item label="Login ID" prop="USER_CODE">
                                <el-input v-model="form.USER_CODE" :disabled="IDdisabled"></el-input>
                            </el-form-item>
                            <el-form-item label="使用者名稱" prop="USER_NAME">
                                <el-input v-model="form.USER_NAME"></el-input>
                            </el-form-item>
                            <el-form-item label="公司電話" prop="TEL_NO">
                                <el-input v-model="form.TEL_NO"></el-input>
                            </el-form-item>
                            <el-form-item label="Email" prop="EMAIL">
                                <el-input v-model="form.EMAIL"></el-input>
                            </el-form-item>
                            <el-form-item label="行動電話" prop="CELL_PHONE">
                                <el-input v-model="form.CELL_PHONE"></el-input>
                            </el-form-item>
                            <el-form-item label="啟用/停用" prop="ACT_FG">
                                <el-radio-group v-model="form.ACT_FG">
                                    <el-radio label="Y">Yes</el-radio>
                                    <el-radio label="N">No</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="備註" prop="REMARKS">
                                <el-input v-model="form.REMARKS"></el-input>
                            </el-form-item>
                            <el-form-item label="輸入新密碼" prop="USER_PWD">
                                <el-input v-model="form.USER_PWD" show-password autocomplete="new-password"></el-input>
                            </el-form-item>
                            <el-form-item label="再次輸入新密碼" prop="USER_PWD_1">
                                <el-input v-model="form.USER_PWD_1" show-password autocomplete="new-password1"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click="dialogFormVisible = false">取消</el-button>
                            <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                        </div>
                    </el-dialog>

                    <el-dialog title="重置密碼" width="30%" top="1vh" :visible.sync="dialogPwdFormVisible"
                               @@opened="onPwdBindData()" center>
                        <el-form :model="pwdForm" ref="pwdForm" size="mini" :label-position="labelPosition" label-width="auto">
                            <el-form-item label="Login ID" prop="USER_CODE">
                                <el-input v-model="pwdForm.USER_CODE" :disabled="true"></el-input>
                            </el-form-item>
                            <el-form-item label="使用者名稱" prop="USER_NAME">
                                <el-input v-model="pwdForm.USER_NAME" :disabled="true"></el-input>
                            </el-form-item>
                            <el-form-item label="Email" prop="EMAIL">
                                <el-input v-model="pwdForm.EMAIL" :disabled="true"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click="dialogPwdFormVisible = false">取消</el-button>
                            <el-button type="primary" @@click="onResetSubmit()">重置</el-button>
                        </div>
                    </el-dialog>
                </div>
            </section>
        </transition>
    </div>
    <div id="app_addr">
        <transition name="el-fade-in">
            <section v-show="showAddr" class="position-absolute w-100">
                <el-row type="flex" justify="end" class="mb-2">
                    <el-col class="my-auto w-auto text-right">
                        <el-button type="primary" round plain @@click="onBack()" size="small">返回</el-button>
                    </el-col>
                </el-row>
                <div id="formblock" class="rounded-lg bg-white p-3">
                    <el-form :label-position="labelPosition" label-width="80px" :model="searchForm" ref="searchForm">
                        <el-row :gutter="20">
                            <el-col :span="4">
                                <el-form-item label="公司簡稱" prop="PS_COMP">
                                    <el-input v-model="searchForm.PS_COMP"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="聯絡人" prop="CONTACT">
                                    <el-input v-model="searchForm.CONTACT"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="收/送貨" prop="PICKSEND_FG">
                                    <el-select v-model="searchForm.PICKSEND_FG" placeholder="請選擇">
                                        <el-option label="全部" value="%"></el-option>
                                        <el-option label="取貨(取件)" value="PICK"></el-option>
                                        <el-option label="送貨(配送)" value="SEND"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    @if (ViewBag.Auth.CAN_SEARCH == "Y")
                    {
                        <el-row type="flex" justify="center">
                            <el-col :span="6">
                                <el-button style="width: 100%" type="primary" @@click="onSearch">搜尋</el-button>
                            </el-col>
                        </el-row>
                    }
                </div>
                <div id="datablock" class="rounded-lg bg-white mt-3 p-3">
                    <el-row type="flex" justify="space-between">
                        <el-col :span="6">
                            <el-select v-model="pageValue" placeholder="選擇顯示筆數" @@change="onSelectPage()">
                                <el-option v-for="item in pageOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="2" class="my-auto w-auto">
                            @if (ViewBag.Auth.CAN_ADD == "Y")
                            {
                                <el-button type="primary" round plain @@click="onAddClick('form')" size="small">新增</el-button>
                            }
                        </el-col>
                    </el-row>

                    <div id="table_addr" class="mt-4"></div>

                    <el-dialog :title="dialogTitle" width="30%" top="1vh" :visible.sync="dialogFormVisible"
                               @@opened="onBindData()" center>
                        <el-form :model="form" :rules="rules" ref="form" size="mini" :label-position="labelPosition" label-width="auto">
                            <el-row :gutter="20">
                                <el-col :span="10">
                                    <el-form-item prop="PICK_FG">
                                        <el-checkbox v-model="form.PICK_FG">取貨(取件)</el-checkbox>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="10">
                                    <el-form-item prop="SEND_FG">
                                        <el-checkbox v-model="form.SEND_FG">送貨(配送)</el-checkbox>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-form-item label="公司簡稱" prop="PS_COMP">
                                <el-input v-model="form.PS_COMP"></el-input>
                            </el-form-item>
                            <el-form-item label="聯絡人" prop="CONTACT">
                                <el-input v-model="form.CONTACT"></el-input>
                            </el-form-item>
                            <el-form-item label="縣市" prop="PS_CITY">
                                <el-select class="w-100" v-model="form.PS_CITY" @@change="onCityChange($event)" placeholder="請選擇">
                                    <el-option v-for="item in cityOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="鄉鎮區(市)" prop="PS_AREA">
                                <el-select class="w-100" v-model="form.PS_AREA" placeholder="請選擇" no-data-text="無選項">
                                    <el-option v-for="item in areaOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="地址" prop="PS_ADDR">
                                <el-input v-model="form.PS_ADDR"></el-input>
                            </el-form-item>
                            <el-form-item label="電話1" prop="TEL_NO1">
                                <el-input v-model="form.TEL_NO1"></el-input>
                            </el-form-item>
                            <el-form-item label="電話2" prop="TEL_NO2">
                                <el-input v-model="form.TEL_NO2"></el-input>
                            </el-form-item>
                            <el-form-item label="集貨站所" prop="CLT_DEPT">
                                <el-select class="w-100" v-model="form.CLT_DEPT" placeholder="請選擇" no-data-text="無選項">
                                    <el-option v-for="item in deptOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click="dialogFormVisible = false">取消</el-button>
                            <el-button type="primary" @@click="onSubmit('form')">確定</el-button>
                        </div>
                    </el-dialog>
                </div>
            </section>
        </transition>
    </div>

    <script>
    $(function () {
        var formData; //儲存表單內容
        //主列表
        var vm = new Vue({
            el: '#app',
            data: {
                searchForm: {
                    CUST_CODE: '',
                    CHI_NAME: '',
                    CUST_ID: '',
                    CUST_GROUP: ''
                },
                form: {
                    CUST_CODE: '',
                    CHI_NAME: '',
                    CUST_ID: '',
                    BRF_NAME: '',
                    CHI_CITY: '',
                    INV_CITY: '',
                    CHI_AREA: '',
                    INV_AREA: '',
                    CHI_ADDR: '',
                    INV_ADDR: '',
                    CUST_GROUP: '',
                    TEL_NO1: '',
                    TEL_NO2: '',
                    FAX_NO: '',
                    CONTACT: '',
                    EMAIL_LIST: '',
                    BANK_ID: '',
                    BANK_BRANCH: '',
                    BANK_ACCT: '',
                    BANK_CUST: '',
                    DVLP_DEPT: '',
                    ACT_FG: 'Y',
                    REMARKS: ''
                },
                rules: {
                    CUST_CODE: [
                        { required: true, message: '請輸入客戶代碼', trigger: 'blur' }
                    ]
                },
                pageOptions: [{
                    value: 25,
                    label: '一頁顯示25筆資料'
                }, {
                    value: 50,
                    label: '一頁顯示50筆資料'
                }, {
                    value: 100,
                    label: '一頁顯示100筆資料'
                }, {
                    value: 200,
                    label: '一頁顯示200筆資料'
                }],
                pageValue: 25,
                cityOptions: [],
                areaOptions: [],
                areaInvOptions: [],
                bankOptions: [],
                deptOptions: [],
                branchOptions: [],
                labelPosition: 'top',
                IDdisabled: false,
                addOrEdit: '',
                dialogFormVisible: false,
                showMain: true
            },
            methods: {
                onSearch() {
                    this.LoadTableData();
                },
                LoadTableData() {
                    axios.get('@Url.Action("GetTableData")', {
                        params: vm.searchForm,
                        headers: { accessToken: localStorage.getItem('token') }
                    }).then(function (response) {
                        table.setData(response.data);
                    }).catch(function (error) {
                    });
                },
                onBindData() {
                    if (this.addOrEdit == "edit") {
                        this.$nextTick(() => {
                            this.onCityChange(formData.CHI_CITY, false, true); //長下拉
                            this.onCityChange(formData.INV_CITY, true, true);
                            this.onBankChange(formData.BANK_ID, true);
                            this.form = formData;
                        });
                    } else {
                        this.onCityChange('', false, false); //長下拉
                        this.onCityChange('', true, false);
                        this.onBankChange('', false);
                    }
                },
                onAddClick(formName) {
                    this.IDdisabled = false;
                    this.addOrEdit = 'add';
                    this.dialogFormVisible = true;
                    if (this.$refs[formName] !== undefined) {
                        this.$nextTick(() => {
                            this.$refs[formName].resetFields();
                        });
                    }
                },
                onCityChange(value, isInv, isEdit) {
                    axios.get('@Url.Action("GetOption")', {
                        params: { type: 'area', condition: value },
                        headers: { accessToken: localStorage.getItem('token') }
                    }).then(function (response) {
                        if (isInv) {
                            if (!isEdit) vm.form.INV_AREA = ''; //進入編輯畫面時放值順序的關係不能把它清空
                            vm.areaInvOptions = response.data;
                        } else {
                            if (!isEdit) vm.form.CHI_AREA = ''; //進入編輯畫面時放值順序的關係不能把它清空
                            vm.areaOptions = response.data;
                        }
                    }).catch(function (error) {
                    });
                },
                onBankChange(value, isEdit) {
                    axios.get('@Url.Action("GetOption")', {
                        params: { type: 'branch', condition: value },
                        headers: { accessToken: localStorage.getItem('token') }
                    }).then(function (response) {
                        if (!isEdit) vm.form.BANK_BRANCH = ''; //進入編輯畫面時放值順序的關係不能把它清空
                        vm.branchOptions = response.data;
                    }).catch(function (error) {
                    });
                },
                onEditClick(cell, formName) {
                    formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變

                    if (this.$refs[formName] !== undefined) {
                        this.$nextTick(() => {
                            this.$refs[formName].resetFields();
                        });
                    }
                    this.addOrEdit = 'edit';
                    this.IDdisabled = true;
                    this.dialogFormVisible = true;
                    //確實開啟dialog之後才把資料放上去->onBindData
                },
                onDeleteClick(cell) {
                    axios.post('@Url.Action("Delete")',
                        { CUST_CODE: cell.getRow().getData().CUST_CODE },
                        { headers: { accessToken: localStorage.getItem('token') } }
                    ).then((res) => {
                        if (res.data == -1) {
                            this.$alert('刪除失敗', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    //停留在原地
                                }
                            });
                        } else {
                            this.$alert('刪除成功', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    this.LoadTableData();
                                }
                            });
                        }
                    });
                },
                onSubmit(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            if (this.addOrEdit == "add") {
                                axios.post('@Url.Action("Add")',
                                    this.form,
                                    { headers: { accessToken: localStorage.getItem('token') } }
                                ).then((res) => {
                                    if (res.data == -1) {
                                        this.$alert('新增失敗', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else if (res.data == -2) {
                                        this.$alert('客戶代碼已存在，不可儲存', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else {
                                        this.$alert('新增成功', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.dialogFormVisible = false;
                                                this.onSearch();
                                            }
                                        });
                                    }
                                });
                            } else {
                                axios.post('@Url.Action("Edit")',
                                    this.form,
                                    { headers: { accessToken: localStorage.getItem('token') } }
                                ).then((res) => {
                                    if (res.data == -1) {
                                        this.$alert('修改失敗', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else {
                                        this.$alert('修改成功', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.dialogFormVisible = false;
                                                this.onSearch();
                                            }
                                        });
                                    }
                                });
                            }
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                onSelectPage() {
                    table.setPageSize(this.value);
                }
            }
        });
        //編輯可用產品畫面
        var vmProd = new Vue({
            el: '#app_prod',
            data: {
                form: {
                    PROD_ID: '',
                    CUST_CODE:''
                },
                rules: {
                    PROD_ID: [
                        { required: true, message: '請選擇一項產品', trigger: 'blur' }
                    ]
                },
                pageOptions: [{
                    value: 25,
                    label: '一頁顯示25筆資料'
                }, {
                    value: 50,
                    label: '一頁顯示50筆資料'
                }, {
                    value: 100,
                    label: '一頁顯示100筆資料'
                }, {
                    value: 200,
                    label: '一頁顯示200筆資料'
                }],
                pageValue: 25,
                prodOptions: [],
                labelPosition: 'top',
                dialogFormVisible: false,
                showProd: false,
            },
            methods: {
                onShow(cell) {
                    vm.showMain = false;
                    this.showProd = true;
                    this.form.CUST_CODE = cell.getRow().getData().CUST_CODE;
                    this.LoadTableData();
                },
                onBack() {
                    this.showProd = false;
                    vm.showMain = true;
                },
                LoadTableData() {
                    axios.get('@Url.Action("GetProdTableData")', {
                        params: { CUST_CODE: vmProd.form.CUST_CODE },
                        headers: { accessToken: localStorage.getItem('token') }
                    }).then(function (response) {
                        table_prod.setData(response.data);
                    }).catch(function (error) {
                    });
                    //取得產品列表
                    axios.get('@Url.Action("GetOption")', {
                        params: { type: 'prod', condition: vmProd.form.CUST_CODE },
                        headers: { accessToken: localStorage.getItem('token') }
                    }).then(function (response) {
                        vmProd.prodOptions = response.data;
                    }).catch(function (error) {
                    });
                },
                onAddClick(formName) {
                    this.dialogFormVisible = true;
                    if (this.$refs[formName] !== undefined) {
                        this.$nextTick(() => {
                            this.$refs[formName].resetFields();
                        });
                    }
                },
                onDeleteClick(cell) {
                    axios.post('@Url.Action("DeleteProd")',
                        { CUST_CODE: vmProd.form.CUST_CODE, PROD_ID: cell.getRow().getData().PROD_ID },
                        { headers: { accessToken: localStorage.getItem('token') } }
                    ).then((res) => {
                        if (res.data == -1) {
                            this.$alert('刪除失敗', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    //停留在原地
                                }
                            });
                        } else {
                            this.$alert('刪除成功', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    this.LoadTableData();
                                }
                            });
                        }
                    });
                },
                onSubmit(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            axios.post('@Url.Action("AddProd")',
                                this.form,
                                { headers: { accessToken: localStorage.getItem('token') } }
                            ).then((res) => {
                                if (res.data == -1) {
                                    this.$alert('新增失敗', '提示', {
                                        confirmButtonText: '確定',
                                        callback: action => {
                                            //停留在原地
                                        }
                                    });
                                } else {
                                    this.$alert('新增成功', '提示', {
                                        confirmButtonText: '確定',
                                        callback: action => {
                                            this.dialogFormVisible = false;
                                            this.LoadTableData();
                                        }
                                    });
                                }
                            });
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                onSelectPage() {
                    table_prod.setPageSize(this.value);
                }
            }
        });
        //使用者資料
        var vmUser = new Vue({
            el: '#app_user',
            data: {
                searchForm: {
                    USER_CODE: '',
                    USER_NAME: '',
                    ACT_FG: 'Y',
                    CUST_CODE:''
                },
                form: {
                    CUST_CODE: '',
                    USER_CODE: '',
                    USER_NAME: '',
                    TEL_NO: '',
                    EMAIL: '',
                    CELL_PHONE: '',
                    ACT_FG: 'Y',
                    REMARKS: '',
                    USER_PWD: '',
                    USER_PWD_1: ''
                },
                pwdForm: {
                    CUST_CODE: '',
                    USER_CODE: '',
                    USER_NAME: '',
                    EMAIL: ''
                },
                rules: {
                    USER_CODE: [
                        { required: true, message: '請輸入Login ID', trigger: 'blur' }
                    ],
                    USER_NAME: [
                        { required: true, message: '請輸入使用者名稱', trigger: 'blur' }
                    ],
                    USER_PWD: [
                        { required: true, message: '請輸入密碼', trigger: 'blur' }
                    ],
                    USER_PWD_1: [
                        { required: true, message: '請再次輸入密碼', trigger: 'blur' }
                    ]
                },
                pageOptions: [{
                    value: 25,
                    label: '一頁顯示25筆資料'
                }, {
                    value: 50,
                    label: '一頁顯示50筆資料'
                }, {
                    value: 100,
                    label: '一頁顯示100筆資料'
                }, {
                    value: 200,
                    label: '一頁顯示200筆資料'
                }],
                pageValue: 25,
                labelPosition: 'top',
                IDdisabled: false,
                addOrEdit: '',
                dialogFormVisible: false,
                dialogPwdFormVisible: false,
                showUser: false
            },
            methods: {
                onShow(cell) {
                    vm.showMain = false;
                    this.showUser = true;
                    this.form.CUST_CODE = cell.getRow().getData().CUST_CODE;
                    this.$refs.searchForm.resetFields(); //重置搜尋表單
                    this.LoadTableData();
                },
                onBack() {
                    this.showUser = false;
                    vm.showMain = true;
                },
                onSearch() {
                    this.LoadTableData();
                },
                LoadTableData() {
                    this.searchForm.CUST_CODE = this.form.CUST_CODE;
                    axios.get('@Url.Action("GetUserTableData")', {
                        params: this.searchForm,
                        headers: { accessToken: localStorage.getItem('token') }
                    }).then(function (response) {
                        table_user.setData(response.data);
                    }).catch(function (error) {
                    });
                },
                onBindData() {
                    if (this.addOrEdit == "edit") {
                        this.$nextTick(() => {
                            this.form = formData;
                        });
                    }
                },
                onPwdBindData() {
                    this.$nextTick(() => {
                        this.pwdForm = formData;
                    });
                },
                onAddClick(formName) {
                    this.IDdisabled = false;
                    this.addOrEdit = 'add';
                    this.dialogFormVisible = true;
                    if (this.$refs[formName] !== undefined) {
                        this.$nextTick(() => {
                            this.$refs[formName].resetFields();
                        });
                    }
                },
                onEditClick(cell, formName) {
                    formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變
                    formData.USER_PWD = ''; //密碼不用進編輯
                    if (this.$refs[formName] !== undefined) {
                        this.$nextTick(() => {
                            this.$refs[formName].resetFields();
                        });
                    }
                    this.addOrEdit = 'edit';
                    this.IDdisabled = true;
                    this.dialogFormVisible = true;
                    //確實開啟dialog之後才把資料放上去->onBindData
                },
                onResetPwdClike(cell) {
                    formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變
                    this.dialogPwdFormVisible = true;
                },
                onDeleteClick(cell) {
                    axios.post('@Url.Action("DeleteUser")',
                        { CUST_CODE: cell.getRow().getData().CUST_CODE, USER_CODE: cell.getRow().getData().USER_CODE },
                        { headers: { accessToken: localStorage.getItem('token') } }
                    ).then((res) => {
                            if (res.data == -1) {
                                this.$alert('刪除失敗', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        //停留在原地
                                    }
                                });
                            } else {
                                this.$alert('刪除成功', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        this.LoadTableData();
                                    }
                                });
                            }
                        });
                },
                onSubmit(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            if (this.form.USER_PWD != this.form.USER_PWD_1) {
                                this.$alert('密碼輸入不同，請確認', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        //停留在原地
                                    }
                                });
                                return;
                            }
                            if (this.addOrEdit == "add") {
                                axios.post('@Url.Action("AddUser")',
                                    this.form,
                                    { headers: { accessToken: localStorage.getItem('token') } }
                                ).then((res) => {
                                    if (res.data == -1) {
                                        this.$alert('新增失敗', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else if (res.data == -2) {
                                        this.$alert('Login ID已存在，不可儲存', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else {
                                        this.$alert('新增成功', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.dialogFormVisible = false;
                                                this.onSearch();
                                            }
                                        });
                                    }
                                });
                            } else {
                                axios.post('@Url.Action("EditUser")',
                                    this.form,
                                    { headers: { accessToken: localStorage.getItem('token') } }
                                ).then((res) => {
                                    if (res.data == -1) {
                                        this.$alert('修改失敗', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else {
                                        this.$alert('修改成功', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.dialogFormVisible = false;
                                                this.onSearch();
                                            }
                                        });
                                    }
                                });
                            }
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                onResetSubmit() {
                    axios.post('@Url.Action("ResetPwd")',
                        this.pwdForm,
                        { headers: { accessToken: localStorage.getItem('token') } }
                    ).then((res) => {
                        if (res.data == -1) {
                            this.$alert('重置失敗', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    //停留在原地
                                }
                            });
                        } else {
                            this.$alert('重置成功', '提示', {
                                confirmButtonText: '確定',
                                callback: action => {
                                    this.dialogPwdFormVisible = false;
                                    this.onSearch();
                                }
                            });
                        }
                    });
                },
                onSelectPage() {
                    table_user.setPageSize(this.value);
                }
            }
        });

        //常用收送貨地址
        var vmAddr = new Vue({
            el: '#app_addr',
            data: {
                searchForm: {
                    CUST_CODE:'',
                    PS_COMP: '',
                    CONTACT: '',
                    PICKSEND_FG: 'PICK'
                },
                form: {
                    PS_SEQ: '',
                    CUST_CODE: '',
                    PICK_FG: false,
                    SEND_FG: false,
                    PS_COMP: '',
                    CONTACT: '',
                    PS_CITY: '',
                    PS_AREA: '',
                    PS_ADDR: '',
                    TEL_NO1: '',
                    TEL_NO2: '',
                    CLT_DEPT: ''
                },
                rules: { },
                pageOptions: [{
                    value: 25,
                    label: '一頁顯示25筆資料'
                }, {
                    value: 50,
                    label: '一頁顯示50筆資料'
                }, {
                    value: 100,
                    label: '一頁顯示100筆資料'
                }, {
                    value: 200,
                    label: '一頁顯示200筆資料'
                }],
                pageValue: 25,
                cityOptions: [],
                areaOptions: [],
                deptOptions: [],
                labelPosition: 'top',
                IDdisabled: false,
                addOrEdit: '',
                dialogTitle:'',
                dialogFormVisible: false,
                showAddr: false
            },
            methods: {
                onShow(cell) {
                    vm.showMain = false;
                    this.showAddr = true;
                    this.form.CUST_CODE = cell.getRow().getData().CUST_CODE;
                    this.$refs.searchForm.resetFields(); //重置搜尋表單
                    this.LoadTableData();
                },
                onBack() {
                    this.showAddr = false;
                    vm.showMain = true;
                },
                onSearch() {
                    this.LoadTableData();
                },
                LoadTableData() {
                    this.searchForm.CUST_CODE = this.form.CUST_CODE;
                    axios.get('@Url.Action("GetAddrTableData")', {
                        params: this.searchForm,
                        headers: { accessToken: localStorage.getItem('token') }
                    }).then(function (response) {
                        table_addr.setData(response.data);
                    }).catch(function (error) {
                    });
                },
                onBindData() {
                    if (this.addOrEdit == "edit") {
                        this.$nextTick(() => {
                            this.onCityChange(formData.PS_CITY, true); //長下拉
                            this.form = formData;
                        });
                    } else {
                        this.onCityChange('', false); //長下拉
                    }
                },
                onAddClick(formName) {
                    this.IDdisabled = false;
                    this.addOrEdit = 'add';
                    this.dialogTitle = '新增常用收送貨地址資料';
                    this.dialogFormVisible = true;
                    if (this.$refs[formName] !== undefined) {
                        this.$nextTick(() => {
                            this.$refs[formName].resetFields();
                        });
                    }
                },
                onCityChange(value, isEdit) {
                    axios.get('@Url.Action("GetOption")', {
                        params: { type: 'area', condition: value },
                        headers: { accessToken: localStorage.getItem('token') }
                    }).then(function (response) {
                        if (!isEdit) vmAddr.form.PS_AREA = ''; //進入編輯畫面時放值順序的關係不能把它清空
                        vmAddr.areaOptions = response.data;
                    }).catch(function (error) {
                    });
                },
                onEditClick(cell, formName) {
                    formData = $.extend(true, {}, cell.getRow().getData());//深拷貝不讓原本table的值改變
                    if (this.$refs[formName] !== undefined) {
                        this.$nextTick(() => {
                            this.$refs[formName].resetFields();
                        });
                    }
                    this.addOrEdit = 'edit';
                    this.IDdisabled = true;
                    this.dialogFormVisible = true;
                    this.dialogTitle = '維護常用收送貨地址資料';
                    //確實開啟dialog之後才把資料放上去->onBindData
                },
                onDeleteClick(cell) {
                    axios.post('@Url.Action("DeleteAddr")',
                        { PS_SEQ: cell.getRow().getData().PS_SEQ },
                        { headers: { accessToken: localStorage.getItem('token') } }
                    ).then((res) => {
                            if (res.data == -1) {
                                this.$alert('刪除失敗', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        //停留在原地
                                    }
                                });
                            } else {
                                this.$alert('刪除成功', '提示', {
                                    confirmButtonText: '確定',
                                    callback: action => {
                                        this.LoadTableData();
                                    }
                                });
                            }
                        });
                },
                onSubmit(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            if (this.addOrEdit == "add") {
                                axios.post('@Url.Action("AddAddr")',
                                    this.form,
                                    { headers: { accessToken: localStorage.getItem('token') } }
                                ).then((res) => {
                                    if (res.data == -1) {
                                        this.$alert('新增失敗', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else {
                                        this.$alert('新增成功', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.dialogFormVisible = false;
                                                this.onSearch();
                                            }
                                        });
                                    }
                                });
                            } else {
                                axios.post('@Url.Action("EditAddr")',
                                    this.form,
                                    { headers: { accessToken: localStorage.getItem('token') } }
                                ).then((res) => {
                                    if (res.data == -1) {
                                        this.$alert('修改失敗', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                //停留在原地
                                            }
                                        });
                                    } else {
                                        this.$alert('修改成功', '提示', {
                                            confirmButtonText: '確定',
                                            callback: action => {
                                                this.dialogFormVisible = false;
                                                this.onSearch();
                                            }
                                        });
                                    }
                                });
                            }
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                onSelectPage() {
                    table_addr.setPageSize(this.value);
                }
            }
        });
        
        //取得縣市下拉
        axios.get('@Url.Action("GetOption")', {
            params: { type: 'city' },
            headers: { accessToken: localStorage.getItem('token') }
        }).then(function (response) {
            vm.cityOptions = response.data;
            vmAddr.cityOptions = response.data;
        }).catch(function (error) {
        });
        //取得開發站所下拉
        axios.get('@Url.Action("GetOption")', {
            params: { type: 'dept' },
            headers: { accessToken: localStorage.getItem('token') }
        }).then(function (response) {
            vm.deptOptions = response.data;
            vmAddr.deptOptions = response.data;
        }).catch(function (error) {
        });
        //取得銀行列表
        axios.get('@Url.Action("GetOption")', {
            params: { type: 'bank' },
            headers: { accessToken: localStorage.getItem('token') }
        }).then(function (response) {
            vm.bankOptions = response.data;
        }).catch(function (error) {
        });

        //定義表格裡圖案
        var editIcon = function (cell, formatterParams) {
            return "<i class='el-icon-edit'></i>";
        };
        var deleteIcon = function (cell, formatterParams) {
            return "<i class='el-icon-delete-solid'></i>";
        };
        var actFormat = function (cell, formatterParams) {
            if (cell.getValue() == 'Y') {
                return '啟用';
            } else {
                return '停用';
            }
        };
        var resetPwd = function (cell, formatterParams) {
            return "<button class='el-button el-button--primary el-button--small is-plain is-round'>重置密碼</button>";
        };
        function ckFormat(cell) {
            if (cell.getValue() == null || cell.getValue() == 'N') {
                cell.setValue(false);
            } else if (cell.getValue() == 'Y') {
                cell.setValue(true);
            }
            return {
                crossElement: ''
            };
        }

        //客戶資料列表
        var table = new Tabulator("#table", {
            locale: "zh-tw",
            layout: "fitColumns",      //fit columns to width of table
            height: "100%", //do not let table get bigger than the height of its parent element
            pagination: "local",       //paginate the data
            paginationSize: 25,         //allow 20 rows per page of data
            movableColumns: true,      //allow column order to be changed
            initialSort: [             //set the initial sort order of the data
                { column: "CUST_CODE", dir: "asc" },
            ],
            columns: [                 //define the table columns
                { title: "項次", formatter: "rownum", hozAlign: "center" },
                { title: "客戶代碼", field: "CUST_CODE", hozAlign: "center" },
                { title: "客戶名稱", field: "CHI_NAME", hozAlign: "center" },
                { title: "統編", field: "CUST_ID", hozAlign: "center" },
                { title: "簡稱", field: "BRF_NAME", hozAlign: "center" },
                { title: "聯絡人", field: "CONTACT", hozAlign: "center" },
                { title: "狀態", field: "ACT_FG", formatter: actFormat, hozAlign: "center" },
                { title: "編輯", field: "edit", formatter: editIcon, hozAlign: "center", cellClick: function (e, cell) { vm.onEditClick(cell, 'form'); } },
                { title: "收送貨地址", field: "editAddr", formatter: editIcon, hozAlign: "center", cellClick: function (e, cell) { vmAddr.onShow(cell) } },
                { title: "可用產品", field: "editProd", formatter: editIcon, hozAlign: "center", cellClick: function (e, cell) { vmProd.onShow(cell); } },
                { title: "使用者資料", field: "editUser", formatter: editIcon, hozAlign: "center", cellClick: function (e, cell) { vmUser.onShow(cell); } },
                { title: "刪除", field: "delete", formatter: deleteIcon, hozAlign: "center", cellClick: function (e, cell) { vm.onDeleteClick(cell); } }
            ],
            langs: {
                "zh-tw": {
                    "pagination": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "prev": "上一頁",
                        "next": "下一頁"
                    }
                }
            },
        });
        table.on("tableBuilt", function () {
            //編輯權限
            if ('@ViewBag.Auth.CAN_MODIFY' == 'N') {
                table.hideColumn('edit');
                table.hideColumn('editAddr');
                table.hideColumn('editProd');
                table.hideColumn('editUser');
            }
            //刪除權限
            if ('@ViewBag.Auth.CAN_DEL' == 'N') {
                table.hideColumn('delete');
            }
        });
        //該客戶可用產品列表
        var table_prod = new Tabulator("#table_prod", {
            locale: "zh-tw",
            layout: "fitColumns",      //fit columns to width of table
            height: "100%", //do not let table get bigger than the height of its parent element
            pagination: "local",       //paginate the data
            paginationSize: 25,         //allow 20 rows per page of data
            movableColumns: true,      //allow column order to be changed
            initialSort: [             //set the initial sort order of the data
                { column: "PROD_ID", dir: "asc" },
            ],
            columns: [                 //define the table columns
                { title: "項次", formatter: "rownum", hozAlign: "center" },
                { title: "產品代碼", field: "PROD_ID", hozAlign: "center" },
                { title: "產品名稱", field: "PROD_NAME", hozAlign: "center" },
                { title: "刪除", field: "delete", formatter: deleteIcon, hozAlign: "center", cellClick: function (e, cell) { vmProd.onDeleteClick(cell); } }
            ],
            langs: {
                "zh-tw": {
                    "pagination": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "prev": "上一頁",
                        "next": "下一頁"
                    }
                }
            },
        });
        table_prod.on("tableBuilt", function () {
            //刪除權限
            if ('@ViewBag.Auth.CAN_DEL' == 'N') {
                table_prod.hideColumn('delete');
            }
        });
        //該客戶使用者列表
        var table_user = new Tabulator("#table_user", {
            locale: "zh-tw",
            layout: "fitColumns",      //fit columns to width of table
            height: "100%", //do not let table get bigger than the height of its parent element
            pagination: "local",       //paginate the data
            paginationSize: 25,         //allow 20 rows per page of data
            movableColumns: true,      //allow column order to be changed
            initialSort: [             //set the initial sort order of the data
                { column: "USER_CODE", dir: "asc" },
            ],
            columns: [                 //define the table columns
                { title: "項次", formatter: "rownum", hozAlign: "center" },
                { title: "Login ID", field: "USER_CODE", hozAlign: "center" },
                { title: "使用者名稱", field: "USER_NAME", hozAlign: "center" },
                { title: "Email", field: "EMAIL", hozAlign: "center" },
                { title: "公司電話", field: "TEL_NO", hozAlign: "center" },
                { title: "行動電話", field: "CELL_PHONE", hozAlign: "center" },
                { title: "狀態", field: "ACT_FG", formatter: actFormat, hozAlign: "center" },
                { title: "重置密碼", field: "resetPwd", formatter: resetPwd, hozAlign: "center", cellClick: function (e, cell) { vmUser.onResetPwdClike(cell) } },
                { title: "編輯", field: "edit", formatter: editIcon, hozAlign: "center", cellClick: function (e, cell) { vmUser.onEditClick(cell, 'form'); } },
                { title: "刪除", field: "delete", formatter: deleteIcon, hozAlign: "center", cellClick: function (e, cell) { vmUser.onDeleteClick(cell); } }
            ],
            langs: {
                "zh-tw": {
                    "pagination": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "prev": "上一頁",
                        "next": "下一頁"
                    }
                }
            },
        });
        table_user.on("tableBuilt", function () {
            //編輯權限
            if ('@ViewBag.Auth.CAN_MODIFY' == 'N') {
                table_user.hideColumn('edit');
            }
            //刪除權限
            if ('@ViewBag.Auth.CAN_DEL' == 'N') {
                table_user.hideColumn('delete');
            }
        });
        //該客戶常用收送貨地址
        var table_addr = new Tabulator("#table_addr", {
            locale: "zh-tw",
            layout: "fitColumns",      //fit columns to width of table
            height: "100%", //do not let table get bigger than the height of its parent element
            pagination: "local",       //paginate the data
            paginationSize: 25,         //allow 20 rows per page of data
            movableColumns: true,      //allow column order to be changed
            initialSort: [             //set the initial sort order of the data
                { column: "PS_COMP", dir: "asc" },
            ],
            columns: [                 //define the table columns
                { title: "項次", formatter: "rownum", hozAlign: "center" },
                { title: "收", field: "PICK_FG", hozAlign: "center", formatter: "tickCross", formatterParams: ckFormat },
                { title: "送", field: "SEND_FG", hozAlign: "center", formatter: "tickCross", formatterParams: ckFormat },
                { title: "公司簡稱", field: "PS_COMP", hozAlign: "center" },
                { title: "聯絡人", field: "CONTACT", hozAlign: "center" },
                { title: "縣市", field: "PS_CITY", hozAlign: "center" },
                { title: "鄉鎮區(市)", field: "PS_AREA", hozAlign: "center" },
                { title: "地址", field: "PS_ADDR", hozAlign: "center" },
                { title: "電話1", field: "TEL_NO1", hozAlign: "center" },
                { title: "服務站所", field: "DEPT_NAME", hozAlign: "center" },
                { title: "編輯", field: "edit", formatter: editIcon, hozAlign: "center", cellClick: function (e, cell) { vmAddr.onEditClick(cell, 'form'); } },
                { title: "刪除", field: "delete", formatter: deleteIcon, hozAlign: "center", cellClick: function (e, cell) { vmAddr.onDeleteClick(cell); } }
            ],
            langs: {
                "zh-tw": {
                    "pagination": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "prev": "上一頁",
                        "next": "下一頁"
                    }
                }
            },
        });
        table_addr.on("tableBuilt", function () {
            //編輯權限
            if ('@ViewBag.Auth.CAN_MODIFY' == 'N') {
                table_addr.hideColumn('edit');
            }
            //刪除權限
            if ('@ViewBag.Auth.CAN_DEL' == 'N') {
                table_addr.hideColumn('delete');
            }
        });

    });
    </script>
</body>
</html>
